<!-- /sections/collections.liquid -->


<style>
  {%- assign card_blends = false -%}

  {%- unless settings.background != 'rgba(0,0,0,0)' and settings.product_card_background != 'rgba(0,0,0,0)' and settings.background != settings.product_card_background -%}
    {%- assign card_blends = true -%}
  {%- endunless -%}

  #shopify-section-{{ section.id }}{
    --product-list-gap: {% if section.settings.products_per_row_mobile == '2' %}
      {% if card_blends %}
        var(--product-list-row-gap){% endif %}
      var(--spacing-2){% else %}
      var(--product-list-row-gap) var(--product-list-column-gap){% endif %};
    --product-list-items-per-row: {{ section.settings.products_per_row_mobile | times: 1 }}
    ;
    --product-list-grid: auto-flow dense / repeat(var(--product-list-items-per-row), minmax(0, 1fr));
    --product-list-promo-grid-column: span{{ section.settings.products_per_row_mobile }};

    --content-over-media-gap: var(--spacing-8);
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }}{
      --product-list-gap: var(--product-list-row-gap) var(--product-list-column-gap);
      --product-list-items-per-row: 2;
      --product-list-promo-grid-column: span 1;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }}{
      --product-list-items-per-row: {% if section.settings.filter_layout == 'sidebar' %}
        2{% else %}
        {{ section.settings.products_per_row_desktop | at_most: 3 }}
      {% endif %};
      --product-list-promo-grid-column: span 2;
    }
  }

  @media screen and (min-width: 1200px) {
    #shopify-section-{{ section.id }}{
      --product-list-items-per-row: {% if section.settings.filter_layout == 'sidebar' %}
        {{ section.settings.products_per_row_desktop | at_most: 3 }}
      {% else %}
        {{ section.settings.products_per_row_desktop }}
      {% endif %};
    }
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }}{
      --product-list-items-per-row: {{ section.settings.products_per_row_desktop }}
      ;
    }
  }
</style>
<section
  class="collection-{{ collection.handle }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection"
  data-section-type="collection-grid"
  data-section-type="collection-hero"
  data-sort="{{ show_sort }}"
  data-collection="{{ collection.url | default: '/collections/all' }}">


  <div class="section section--wishlist">    
    <reveal-items selector=".product-list > *">
      <product-list
        class="product-list"
        role="region"
        aria-live="polite"
        grid-wishlist>
        <p class="wishlist__loader full-width text-center">Loading...</p>
      </product-list>
    </reveal-items>
    <div class="product-info__button button-wishlist-share">
      <a
        class="button button--xl button-open-wishlist"
        aria-controls="wishlist-drawer"
        aria-expanded="false"
        is="custom-button">{{ 'general.wishlist.share_button' | t }}</a>
    </div>
  </div>
</section>

    <script>
      function copyToClipboard() {
        const copyText = document.getElementById("wishlist-link").value;
        let input = document.createElement('input');
        input.style.display = 'none';
        document.body.appendChild(input);
        input.value = copyText;
        input.focus();
        input.select();
        input.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(input.value);
        alert("Link kopieret: " + input.value);
      } 
    </script>


    <script>
    document.addEventListener('DOMContentLoaded', async () => {
       var clipboard = new ClipboardJS('#btnCopyToClipboard');
      clipboard.on('success', function (e) {
          console.log('wishList url copied successfully to clipboard');
      });
    });
    </script>
</section>

{% schema %}
  {

    "name": "Wishlist collection",
    "class": "shopify-section--main-collection",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 8,
        "max": 50,
        "step": 1,
        "default": 24
      },
      {
        "type": "select",
        "id": "products_per_row_mobile",
        "label": "Products per row (mobile)",
        "options": [
          {
            "value": "1",
            "label": "1"
          }, {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "min": 2,
        "max": 5,
        "id": "products_per_row_desktop",
        "label": "Products per row (desktop)",
        "info": "For best results, limit to 4 when using sidebar filtering. On small screen size, products per row is limited to 2 (with sidebar) or 3 (without sidebar) to maximize readability",
        "default": 3
      },
      {
        "type": "header",
        "content": "Share wishlist button"
      }, {
        "type": "checkbox",
        "id": "aria_controls",
        "label": "Drawer section",
        "default": true,
        "info": "Only for where to buy button"
      }, {
        "type": "select",
        "id": "size",
        "label": "Size",
        "options": [
          {
            "value": "sm",
            "label": "Small"
          }, {
            "value": "base",
            "label": "Medium"
          }, {
            "value": "lg",
            "label": "Large"
          }, {
            "value": "xl",
            "label": "X-Large"
          }
        ],
        "default": "xl"
      }, {
        "type": "select",
        "id": "style",
        "label": "Style",
        "options": [
          {
            "value": "outline",
            "label": "Outline"
          }, {
            "value": "fill",
            "label": "Fill"
          }
        ],
        "default": "fill"
      }, {
        "type": "checkbox",
        "id": "stretch",
        "label": "Stretch",
        "default": true
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      }
    ]

  }
{% endschema %}