{%- liquid
  assign popups = section.blocks | where: 'type', 'pop-up'
  assign popups = section.blocks | where: 'type', 'size-chart-popup'
  assign show_size_chart = false
  assign size_chart_block = section.blocks | where: 'type', 'variant-picker' | first
  if size_chart_block and size_chart_block.settings.enable_size_chart and size_chart_block.settings.size_chart_page != blank
    assign show_size_chart = true
  endif
  
  if size_chart_block.settings.enable_size_chart_mcb
    assign show_size_chart_mcb = true
  endif
  
   if size_chart_block.settings.enable_size_chart_mcb and size_chart_block.settings.size_chart_page != blank and product.metafields.custom.size_guide.value.simple_size_guide_page != blank
    assign show_size_chart_page = true
  endif
  
  if size_chart_block.settings.enable_size_chart_mcb and size_chart_block.settings.enable_custom_marie_and_primadonna
    assign show_custom_marie_and_primadonna = true
  endif
-%}

{%- for block in popups -%}
  <modal-dialog
    class="modal modal--for-product fixed top-0 left-0 w-full h-full flex items-center justify-center"
    id="modal-{{ block.id }}"
    role="dialog"
    aria-label="{{ block.settings.link_text | escape }}"
    aria-modal="true"
    tabindex="-1"
    {{ block.shopify_attributes }}
  >
    <div class="modal__window relative bg-theme-bg text-theme-text text-start overflow-hidden has-motion">
      <button type="button" class="modal__close-btn absolute js-close-modal">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
      </button>
      <div class="modal__content flex-auto h-full rte">
        {{ block.settings.page.content }}
      </div>
    </div>
  </modal-dialog>
{%- endfor -%}

{%- if show_size_chart_mcb -%}
  <modal-dialog
    class="modal modal--for-product invisible fixed top-0 left-0 w-full h-full flex items-center justify-center size-guide-modal"
    id="size-chart-{{ product.id }}-{{ section.id }}"
    role="dialog"
    aria-label="{{ pages[size_chart_block.settings.size_chart_page].title | escape }}"
    aria-modal="true"
    tabindex="-1"
  >
    <div class="modal__window relative bg-theme-bg text-theme-text text-start overflow-hidden has-motion">
      <button type="button" class="modal__close-btn absolute js-close-modal">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
      </button>
      <div class="modal__content flex-auto h-full rte">
        {% assign vendor_lowercase = product.vendor | remove: ' ' | downcase %}
        {% assign url = '' %}

        {% if vendor_lowercase == 'primadonna' %}
          {% case shop.locale %}
            {% when 'en' %}
              {% assign url = 'https://www.primadonna.com/en/pd-measure-at-home-external?sizeUnit=EU' %}
            {% when 'fr' %}
              {% assign url = 'https://www.primadonna.com/fr-fr/pd-measure-at-home-external?sizeUnit=FR' %}
            {% when 'nl' %}
              {% assign url = 'https://www.primadonna.com/nl-nl/pd-measure-at-home-external?sizeUnit=EU' %}
            {% when 'de' %}
              {% assign url = 'https://www.primadonna.com/de-de/pd-measure-at-home-external?sizeUnit=EU' %}
            {% when 'sv' %}
              {% assign url = 'https://www.primadonna.com/sv-se/pd-measure-at-home-external?sizeUnit=EU' %}
          {% endcase %}
          
        {% elsif vendor_lowercase == 'mariejo' %}
          {% case shop.locale %}
            {% when 'en' %}
              {% assign url = 'https://www.mariejo.com/en/measure-at-home-external?sizeUnit=EU' %}
            {% when 'fr' %}
              {% assign url = 'https://www.mariejo.com/fr-fr/measure-at-home-external?sizeUnit=FR' %}
            {% when 'nl' %}
              {% assign url = 'https://www.mariejo.com/nl-nl/measure-at-home-external?sizeUnit=EU' %}
            {% when 'de' %}
              {% assign url = 'https://www.mariejo.com/de-de/measure-at-home-external?sizeUnit=EU' %}
            {% when 'sv' %}
              {% assign url = 'https://www.mariejo.com/sv-se/measure-at-home-external?sizeUnit=EU' %}
            {% when 'fi' %}
              {% assign url = 'https://www.mariejo.com/en-fi/measure-at-home-external?sizeUnit=EU' %}
          {% endcase %}
        {% endif %}
        {%- if show_size_chart_page -%}
           {{ pages[size_chart_block.settings.size_chart_page].content }}
        {%- elsif url != '' and show_custom_marie_and_primadonna -%}
          <iframe src="{{ url }}" title="Measure at home" width="800" height="700"></iframe>
        {%- else -%}
          {%- render 'size-guide-mcb' -%}
        {%- endif -%}
      </div>
    </div>
  </modal-dialog>

{%- elsif show_size_chart -%}
  <modal-dialog
    class="modal modal--for-product invisible fixed top-0 left-0 w-full h-full flex items-center justify-center"
    id="size-chart-{{ product.id }}-{{ section.id }}"
    role="dialog"
    aria-label="{{ pages[size_chart_block.settings.size_chart_page].title | escape }}"
    aria-modal="true"
    tabindex="-1"
  >
    <div class="modal__window relative bg-theme-bg text-theme-text text-start overflow-hidden has-motion">
      <button type="button" class="modal__close-btn absolute js-close-modal">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
      </button>
      <div class="modal__content flex-auto h-full rte">
        {{ pages[size_chart_block.settings.size_chart_page].content }}
      </div>
    </div>
  </modal-dialog>
{%- endif -%}
