{%- liquid
  assign show_siblings = false
  assign sibs_collection = collections[block.settings.siblings_collection].products
  assign sibling_color = product.variants[0].option1
  assign hide_labels_class = ''

  if sibs_collection.size > 0
    assign show_siblings = true
  endif

  if settings.show_labels == false
    assign hide_labels_class = ' variant__labels--hide'
  endif
-%}
<!-- NEW CODE 25-5-24 -->
{% if show_siblings == false %}
  <style>
    variant-picker fieldset.option-selector:first-child{
      display:none !important;
    }
  </style>
  <div class="product__block product__siblings">     
      {%- if sibs_collection -%}
        <fieldset>
          <div class="radio__fieldset radio__fieldset--swatches">
            {%- if sibling_color != blank -%}               
              <legend class="radio__legend label">
                Farve: 
                <span class="option-selector__label-value js-color-text">{{ sibling_color }}</span>              
              </legend>             
            {%- endif -%}
  
            <div class="radio__buttons">
                <radio-swatch class="swatches swatch__button swatch__button--{{ settings.swatch_style }} swatch-{{ swatch_color | handle }}" style="--swatch: var(--{{ swatch_color }});" data-tooltip="{{ swatch_color }}">
                      <a href="{{ product.url }}" class="sibling__link{{ modifier_class }} sibling__link--current" title="{{ swatch_color }}" data-tooltip="{{ swatch_color }}">
                        {% render 'image', image: product.featured_image, width: 64, height: 64, widths: '32, 64, 96', sizes: '64px', aspect_ratio: 1 %}
                        <span class="visually-hidden">{{ swatch_color }}</span>
                      </a>
                </radio-swatch>
            </div>
          </div>
        </fieldset>
      {%- endif -%}
  </div>  
{% endif %}
<!-- NEW CODE END 25-5-24 -->
{%- if show_siblings -%}
  <style>
    variant-picker fieldset.option-selector:first-child{
      display:none !important;
    }
  </style>
  <div class="product__block{% if settings.show_lines %} product__block--lines{% endif %}{% if settings.form_style == 'classic' %} product__block--classic{% endif %} product__siblings{{ hide_labels_class }}"
    {{ block_style }}
    {% if animation_name %}
      data-animation="{{ animation_name }}"
      data-animation-duration="{{ animation_duration }}"
      data-animation-delay="{{ animation_delay }}"
    {% endif %}
    {{ block.shopify_attributes }}>
    {%- assign title_down = product.title | downcase -%}
    {%- assign sibling_down = sibling_color | downcase -%}
    {%- unless title_down contains sibling_down -%}
      {% comment %} Form ID must match value in product-form.liquid {% endcomment %}
      <input type="hidden" form="{{ product_form_id }}" name="properties['Farve']" value="{{ sibling_color }}">
    {%- endunless -%}

    {%- if sibs_collection -%}
      <fieldset>
        <div class="radio__fieldset radio__fieldset--swatches">
          {%- if sibling_color != blank -%}               
            <legend class="radio__legend label">
              Farve: 
              <span class="option-selector__label-value js-color-text">{{ sibling_color }}</span>              
            </legend>             
          {%- endif -%}

          <div class="radio__buttons">
          {% paginate collections[block.settings.siblings_collection].products by 150 %} <!-- Must use direct link to collection to paginate correctly - not possible with sibs_collection variable -->
            {%- for sib_product in collections[block.settings.siblings_collection].products -%}             
              
              {%- liquid
                assign modifier_class = ''
                if sib_product.handle == product.handle
                  assign modifier_class = ' sibling__link--current'
                endif

                if sib_product.available == false
                  assign modifier_class = modifier_class | append: ' sibling__link--sold-out'
                endif

                assign swatch_color = sib_product.variants[0].option1 | downcase

               capture swatch_image
                
                  assign variant_images = sib_product.media | where: 'media_type', 'image'
                  if variant_images.size > 1
                  assign second_image = variant_images[1]
                    render 'image', image: sib_product.featured_media.preview_image, width: 64, height: 64, widths: '32, 64, 96', sizes: '64px', aspect_ratio: '1'
                  else
                    render 'image', image: sib_product.featured_media.preview_image, width: 64, height: 64, widths: '32, 64, 96', sizes: '64px', aspect_ratio: 1
                  endif
                
              endcapture
              
              -%}            
              
              <radio-swatch
                class="swatches swatch__button swatch__button--{{ settings.swatch_style }} swatch-{{ swatch_color | handle }}"
                style="--swatch: var(--{{ swatch_color }});"
                data-tooltip="{{ swatch_color }}">
                    <a href="{{ sib_product.url }}" class="sibling__link{{ modifier_class }}" title="{{ swatch_color }}" data-tooltip="{{ swatch_color }}">
                      {{ swatch_image }}
                      <span class="visually-hidden">{{ swatch_color }}</span>
                    </a>
              </radio-swatch>
            {%- endfor -%}
            {% endpaginate %}
          </div>
        </div>
      </fieldset>
    {%- endif -%}
  </div>
{%- elsif request.design_mode -%}
  <div {{ block.shopify_attributes }}></div>
{%- endif -%}
