{%- if video_param != blank -%}
  {%- liquid
    assign using_video_tag = true
    if image_param
      assign placeholder_image = image_param
    endif
  -%}
<style>
   .video-section .height--adapt {
         --aspect-ratio: {{ aspect-ratio_param }} !important;
</style>
  <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
  <script src="{{ 'video.js' | asset_url }}" defer></script>

  <div id="section-id-{{ section.id }}" class=" video-section video-section--background" data-cc-animate>

    <div
      class="height--adapt height--adapt-to-overlay-mobile image-overlay image-overlay--bg-{{ section.settings.overlay_style }}"
      style="min-height: 350px;height:100%;"
      data-cc-animate
    >
      <div class="image-overlay__image height__image">
        <div class="{% unless using_video_tag %}video-section__bg-iframe-video{% endunless %}">
          <deferred-media>
            <template>
              <video-component
                class="{% if using_video_tag %}has-video{% else %}has-iframe{% endif %}"
                {%- unless using_video_tag %}
                  data-video-url="{{ section.settings.video_external | escape }}"
                {% endunless %}
                data-video-id="{{ section.id }}"
                data-autoplay="false"
                data-background="true"
                data-description="{{ section.settings.video_description | escape }}"
              >
                {%- if using_video_tag -%}
                  {{
                    video_param | video_tag: playsinline: true, autoplay: true, muted: true, loop: true, poster: '' | replace: '<img ', '<img loading="lazy" hidden ' }}'
                  }}
                {%- else -%}
                  <div></div>
                {%- endif -%}
              </video-component>
            </template>
          </deferred-media>
        </div>
        {% if placeholder_image %}
          {%- render 'image' with placeholder_image, class: 'video-played-hidden' -%}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
