{%- if section.blocks.size > 0 -%}
  {% assign has_non_blank_blocks = false %}
{% for block in section.blocks %}
  {%- if block.settings.external_video_url_custom != blank -%}
    {% assign has_non_blank_blocks = true %}
    {%- break -%}
  {%- endif -%}
{% endfor %}
{% if has_non_blank_blocks or product.metafields.custom.videos != blank %}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --testimonial-list-items-per-row: 1;
      --testimonial-list-carousel-item-width: 74vw;

      
    }

    #shopify-section-{{ section.id }} .scrollbar {
      {%- assign controls_color = section.settings.text_color | default: section.settings.heading_color | default: settings.text_color -%}
      --text-color: {{ controls_color.rgb }};
    }
 @media screen and (max-width: 699px){
      #shopify-section-{{ section.id }} {
      --testimonial-list-grid: {% if section.settings.stack_testimonials_mobile %}auto / repeat(var(--testimonial-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--testimonial-list-carousel-item-width){% endif %};
      }
    }
    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-items-per-row: 2;
        --testimonial-list-carousel-item-width: 52vw;
  --testimonial-list-grid: {% if section.settings.stack_testimonials %}auto / repeat(var(--testimonial-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--testimonial-list-carousel-item-width){% endif %};
      }
    }

    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-carousel-item-width: 36vw;
  --testimonial-list-grid: {% if section.settings.stack_testimonials %}auto / repeat(var(--testimonial-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--testimonial-list-carousel-item-width){% endif %};
      }
    }

    @media screen and (min-width: 1150px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-items-per-row: 3;
        --testimonial-list-carousel-item-width: calc(100% / 3 - (var(--grid-gutter) / 3 * 2));
  --testimonial-list-grid: {% if section.settings.stack_testimonials %}auto / repeat(var(--testimonial-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--testimonial-list-carousel-item-width){% endif %};
      }
    }
  </style>

  <div {% render 'section-properties' %}{%- if request.page_type == 'product' -%}id="{{section.settings.section-id}}"{%- endif -%}>
    <div class="section-stack">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content, link_text: section.settings.link_text, link_url: section.settings.link_url -%}

      <div class="scrollable-with-controls">
        {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}

        <scroll-carousel id="{{ scroll_area_id }}" class="testimonial-list video-list scroll-area bleed {% if section.blocks.size >= 2 %}is-scrollable{% endif %}">
          {%- for block in section.blocks -%}
            {%- if block.settings.external_video_url_custom != blank -%}
            <div class="content-over-media" {{ block.shopify_attributes }}>

              {%- assign image = block.settings.image | default: block.settings.video.preview_image -%}
              
                {%- assign videoid = block.settings.external_video_url_custom | remove: "https://www.youtube.com/watch?v=" | remove: "https://youtu.be/"  -%}
                 <video-media host="youtube" {% if block.settings.autoplay %}autoplayclass="pointer-events-none"{% endif %}>
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}(max-width: 699px) calc(73vw - 40px), (max-width: 999px) calc(38vw - 64px), calc(min({{ settings.page_width }}px, 100vw) / {{ block.settings.column_size }}){%- endcapture -%}
                    {{- block.settings.image | default: block.settings.video.preview_image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800', class: 'rounded' -}}
                  {%- endif -%}             
                  <template>
                       <iframe
                        src="https://www.youtube.com/embed/{{ videoid }}?playsinline=1&autoplay=1&controls=1&playlist={{ videoid }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
                        allow="autoplay; encrypted-media"
                        allowfullscreen="allowfullscreen"></iframe>
                  </template>
                </video-media>
              
              <div class="collection-card__content-wrapper text-custom" style="--text-color: {{ block.settings.text_color.rgb }}; ">
                <div class="collection-card__content prose">
                  {%- if block.settings.subheading != blank -%}
                    <div class="bold">{{ block.settings.subheading | escape }}</div>
                  {%- endif -%}

                  <div class="{{ block.settings.heading_tag }}">{{ block.settings.title }}</div>
                </div>
                <div class="video-button">
                  <button
                    class="video-play-button"
                    type="button"
                    {{ block.shopify_attributes }}>
                    <span class="sr-only">{{ 'general.accessibility.play_video' | t }}</span>
                    {%- render 'icon' with 'play-button', width: 48, height: 48 -%}
                  </button>
                </div>
              </div>
              
              <div class="content-background" style="--content-over-media-overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }}"></div>
         
            </div>
 {%- endif -%}
          {%- endfor -%}
        </scroll-carousel>

        {%- unless section.settings.stack_testimonials -%}
          {%- assign default_progress = 3.0 | divided_by: section.blocks.size -%}
          {%- render 'scrollbar', observes: scroll_area_id, default_progress: default_progress, show_buttons: true -%}
        {%- endunless -%}
      </div>
    </div>
  </div>
{%- endif -%}
{%- endif -%}
{% schema %}
{
  "name": "Video - MCB",
  "class": "shopify-section--testimonials",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "tag": "section",
  "blocks": [
      {
        "type": "item",
        "name": "Video",
        "settings": [
          
          
          {
            "type": "url",
            "id": "external_video_url_custom",           
            "label": "Video URL custom"

    
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1500 x 1800px .jpg recommended. Default to collection image."
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "info": "Default to collection title."
          }, {
            "type": "select",
            "id": "heading_tag",
            "label": "Heading style",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              }, {
                "value": "h5",
                "label": "H5"
              }, {
                "value": "h6",
                "label": "H6"
              }
            ],
            "default": "h2"
          }, {
            "type": "header",
            "content": "Colors"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#ffffff"
          }, {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay",
            "default": "#000000"
          }, {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 30
          }
        ]
      }
    ],
 "settings": [

      {
        "type": "text",
        "id": "section-id",
        "label": "Section ID",
        "info": "Only for product page"
      },
      {
        "type": "checkbox",
        "id": "stack_testimonials",
        "label": "Stack video on desktop",
        "default": true
      },{
        "type": "checkbox",
        "id": "stack_testimonials_mobile",
        "label": "Stack video on mobile",
        "default": true
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Video heading"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }, {
        "type": "header",
        "content": "Colors",
        "info": "Gradient replaces solid colors when set."
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }, {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background gradient"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      }, {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color"
      }, {
        "type": "color_background",
        "id": "heading_gradient",
        "label": "Heading gradient"
      }
    ],
  "presets": [
    {
      "name": "Video - MCB"
     
    }
  ]
}
{% endschema %}