{%- liquid
  if section.settings.video
    assign banner_media = section.settings.video
  elsif section.settings.replacement_image
    assign banner_media = section.settings.replacement_image
  elsif section.settings.use_first_product_image
    assign banner_media = null
    for product in collection.products
      if product.featured_image
        assign banner_media = product.featured_image
        break
      endif
    endfor
    if banner_media == null and collection.image
      assign banner_media = collection.image
    endif
  elsif collection.image
    assign banner_media = collection.image
  else
    assign banner_media = null
  endif

  assign image_sizes = '100vw'

  assign grid_layout = false
  if section.settings.collection_banner_style == 'image-left' or section.settings.collection_banner_style == 'image-right'
    assign grid_layout = true
    assign image_sizes = '(min-width: 768px) 66vw, 100vw'
  endif

  assign collection_has_image = false
  if banner_media and section.settings.show_collection_image
    unless grid_layout
      assign collection_has_image = true
    endunless
  endif
%}
<style>
  .section--{{ section.id }} .collection__header-media-overlay:before {
    background: {{ section.settings.overlay_color }};
    {% if section.settings.overlay_strength == 100 %}
      opacity: 1;
    {% else %}
      opacity: .{{ section.settings.overlay_strength }};
    {% endif %}
  }
</style>

<section
  class="section section--mb-0 section--{{ section.id }} section--full"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
>
  <div
    class="collection js-collection-banner{% if banner_media and section.settings.show_collection_image %} collection--img{% else %} collection--no-img{% endif %} collection--{{ section.settings.collection_banner_style }}"
    data-collection-has-image="{{ collection_has_image }}"
  >
    <div class="collection__header{% if banner_media and section.settings.show_collection_image %} collection__header--img{% endif %}">
      {% if banner_media and section.settings.show_collection_image %}
        {%- if section.settings.image_ratio == 'natural' or section.settings.image_ratio_mobile == 'natural' -%}
          <style>
            {%- if section.settings.image_ratio == 'natural' -%}
            @media screen and (min-width: 768px) {
              .section--{{ section.id }} .o-ratio {
                {% if banner_media %}
                  padding-bottom: {{ 1 | divided_by: banner_media.aspect_ratio | times: 100 }}%;
                {% else %}
                  padding-bottom: 100%;
                {% endif %}
              }
            }
            {%- endif -%}
            {%- if section.settings.image_ratio_mobile == 'natural' -%}
            @media screen and (max-width: 767px) {
              .section--{{ section.id }} .o-ratio {
                {% if banner_media %}
                  padding-bottom: {{ 1 | divided_by: banner_media.aspect_ratio | times: 100 }}%;
                {% else %}
                  padding-bottom: 100%;
                {% endif %}
              }
            }
            {%- endif -%}
          </style>
        {%- endif -%}
        <div
          class="collection__header-media o-ratio o-ratio--{{ section.settings.image_ratio }} o-ratio--{{ section.settings.image_ratio_mobile }}@mob"

          {% unless section.settings.video %}
            style="background-image: url('{{ banner_media | image_url: width: 1, height: 1 }}')"
          {% endunless %}
        >
          {% if section.settings.video %}
            {% render 'lazy-video', video: section.settings.video, class: 'collection__header-video' %}
          {% else %}
            <img
              class="collection__header-img collection__header-img--{{ section.id }}"
              src="{{ banner_media | image_url: width: 600 }}"
              srcset="{% render 'bgset', image: banner_media %}"
              width="600"
              height="{{ 600 | divided_by: banner_media.aspect_ratio | round }}"
              sizes="{{ image_sizes }}"
              alt="{{ banner_media.alt }}"
              loading="eager"
              {% if banner_media.presentation %}
                style="object-position:{{ banner_media.presentation.focal_point }}"
              {% endif %}
            >
          {% endif %}
          <div class="collection__header-media-overlay u-bg-overlay"></div>
        </div>
      {% endif %}
      <div class="container container--p-0">
        <div class="collection__header-info collection__header-info--{{ section.settings.text_align }}">
          <div class="section__title collection__header-info__title">
            <h1 class="section__title-text collection__header-info__title-text">
              {{ collection.title }}
            </h1>
          </div>
          {% if collection.description != blank and section.settings.show_collection_description %}
            <div class="collection__header-info__text rte rte--header">
              {{ collection.description }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% unless collection_has_image %}
  <script>
    document.querySelector('.js-header').setAttribute('data-transparent-header', false);
  </script>
{% endunless %}

{% schema %}
{
  "name": "Collection banner",
  "class": "js-section__collection-banner",
  "settings": [
    {
      "type": "select",
      "id": "collection_banner_style",
      "label": "Banner style",
      "default": "overlap",
      "options": [
        {
          "label": "Text overlap",
          "value": "overlap"
        },
        {
          "label": "Text center",
          "value": "center"
        },
        {
          "label": "Image left",
          "value": "image-left"
        },
        {
          "label": "Image right",
          "value": "image-right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_first_product_image",
      "label": "Use first product for image",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio (desktop)",
      "default": "32:9",
      "options": [
        {
          "value": "1:1",
          "label": "Square (1:1)"
        },
        {
          "value": "4:3",
          "label": "Landscape (4:3)"
        },
        {
          "value": "16:9",
          "label": "Wide (16:9)"
        },
        {
          "value": "32:9",
          "label": "Ultrawide (32:9)"
        },
        {
          "value": "natural",
          "label": "Natural"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Image ratio (mobile)",
      "default": "16:9",
      "options": [
        {
          "value": "1:1",
          "label": "Square (1:1)"
        },
        {
          "value": "4:3",
          "label": "Landscape (4:3)"
        },
        {
          "value": "16:9",
          "label": "Wide (16:9)"
        },
        {
          "value": "32:9",
          "label": "Ultrawide (32:9)"
        },
        {
          "value": "natural",
          "label": "Natural"
        }
      ]
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_strength",
      "label": "Overlay strength",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 0
    },
    {
      "type": "header",
      "content": "Replacement content"
    },
    {
      "type": "paragraph",
      "content": "This content will affect all your collection templates. Create an individual template to avoid this. You may also use metafields - [Learn more](https://support.safeasmilk.co/article/206-what-are-metafields-and-how-can-i-use-them)."
    },
    {
      "type": "image_picker",
      "id": "replacement_image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Wallpaper video"
    }
  ]
}
{% endschema %}
