<section
  class="section section--{{ section.id }} section--password-content"
  data-section-id="{{ section.id }}"
  data-section-type="password-content"
>
  <div class="container container--mob-0">
    <div class="password-content u-flex u-flex--middle u-flex--center">
      {% if section.settings.bg_image != blank %}
        <div
          class="password-content__bg--cover u-bg-contain"
          style="background-image: url('{{ section.settings.bg_image | image_url: width: 1, height: 1 }}')"
        ></div>
        <img
          class="password-content__bg"
          src="{{ section.settings.bg_image | image_url: width: 720 }}"
          srcset="{% render 'bgset', image: section.settings.bg_image %}"
          width="720"
          height="{{ 720 | divided_by: section.settings.bg_image.aspect_ratio | round }}"
          alt="{{ section.settings.bg_image.alt }}"
          loading="lazy"
          style="object-position:{{ section.settings.bg_image.presentation.focal_point }}"
        >
      {% endif %}

      {%- if section.blocks.size > 0 -%}
        <div class="password-content__content {% if section.blocks.size > 1 %}password-content__content--pb{% endif %}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <div
                  class="password-content__block password-content__block--{{ block.type }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="section__title section__title--center">
                    <h1 class="section__title-text h2">{{ block.settings.heading | escape }}</h1>
                  </div>
                  {% unless shop.password_message == blank %}
                    <div class="section__title-desc rte">
                      <p>{{ shop.password_message }}</p>
                    </div>
                  {% endunless %}
                </div>

              {%- when 'text' -%}
                <div
                  class="password-content__block password-content__block--{{ block.type }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="password-content__message rte">
                    {% unless block.settings.text == blank %}
                      {{ block.settings.text }}
                    {% endunless %}
                  </div>
                </div>

              {%- when 'newsletter' -%}
                <div
                  class="password-content__block password-content__block--{{ block.type }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="password-content__form">
                    {% form 'customer', class: 'password-form' %}
                      {{ form.errors | default_errors }}
                      {% if form.posted_successfully? %}
                        <div class="u-text-center">
                          <h4>{{ 'general.password_page.signup_form_success' | t }}</h4>
                        </div>
                      {% else %}
                        <input type="hidden" name="contact[tags]" value="prospect, password page">
                        <label for="email" class="u-hidden-visually">
                          {{- 'general.password_page.signup_form_email_placeholder' | t -}}
                        </label>
                        <input
                          type="email"
                          name="contact[email]"
                          id="Email"
                          placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                        >
                        <button type="submit" name="commit" class="c-btn c-btn--full c-btn--primary">
                          {{ block.settings.newsletter_button_text | escape }}
                        </button>
                      {% endif %}
                    {% endform %}
                  </div>
                </div>

              {%- when 'social' -%}
                <div
                  class="password-content__block password-content__block--{{ block.type }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="password-content__social">
                    {%- render 'social-media-links' -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Password content",
  "class": "js-section__password-content",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image",
      "info": "2200px width recommended."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Opening soon"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Be the first to know when we launch.<p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_button_text",
          "label": "Newsletter button text",
          "default": "Sign up"
        },
        {
          "type": "paragraph",
          "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&tag=prospect)"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "limit": 1
    }
  ]
}
{% endschema %}
