{%- comment -%}
  Cart quantity input

  Accepts:
  - id: {String} Unique id
  - value: {String} Quantity value
  - name: {String} Input name
  - form_id: {String} Form id
{%- endcomment -%}
{%- liquid
  if value == null
    assign value = 1
  endif
  if name == null
    assign name = 'quantity'
  endif
-%}
<quantity-input>
  <button minus type="button" aria-label="{{ 'cart.general.reduce_quantity' | t }}">
    <span aria-hidden="true">&minus;</span>
  </button>
  <input
    {% if id %}
      id="{{ id }}"
    {% endif %}
    type="number"
    value="{{- value -}}"
    min="0"
    step="1"
    name="{{- name-}}"
    autocomplete="off"
    {% if form_id %}
      form="{{ form_id }}"
    {% endif %}
    data-form-type="other"
  >
  <button plus type="button" aria-label="{{ 'cart.general.increase_quantity' | t }}">
    <span aria-hidden="true">+</span>
  </button>
</quantity-input>
