{%- comment -%}
  Renders mega menu cta panel

  Accepts:
  - block: {Object} Menu block
  - animation_delay: {Number} Animation delay in seconds
  - item_start_position: {Number} Item position in menu context
  - dummy_amount: {Number} Number of dummy items
  - in_drawer: {Boolean} Block is in navigation drawer [optional]
{%- endcomment -%}
{%- liquid
  if in_drawer == null
    assign in_drawer = false
  endif

  assign cta_count = 0

  for i in (1..6)
    assign settings_image_id = 'image_' | append: i
    assign settings_image_title = settings_image_id | append: '_title'
    assign settings_image_text = settings_image_id | append: '_text'

    if block.settings[settings_image_id] != blank or block.settings[settings_image_title] != blank or block.settings[settings_image_text] != blank
      assign cta_count = cta_count | plus: 1
    endif
  endfor

  assign item_position = item_start_position

  unless in_drawer
    assign heading_typography_classes = 'f-family--' | append: settings.type_mega_menu_style | append: ' f-caps--' | append: settings.type_mega_menu_capitalize | append: ' f-space--' | append: settings.type_mega_menu_letterspace
  else
    assign heading_typography_classes = 'f-family--' | append: settings.type_mobile_nav_style | append: ' f-caps--' | append: settings.type_mobile_nav_capitalize | append: ' f-space--' | append: settings.type_mobile_nav_letterspace

    assign show_as_scroll = false
    assign sidebar_items_per_row = block.settings.sidebar_additional_content_per_row | plus: 0
    if cta_count > sidebar_items_per_row and block.settings.sidebar_additional_content_enable_carousel
      assign show_as_scroll = true
    elsif dummy_amount > sidebar_items_per_row and cta_count == 0 and block.settings.sidebar_additional_content_enable_carousel
      assign show_as_scroll = true
    endif
  endunless
-%}

{%- if cta_count > 0 -%}
  <div
    {% unless in_drawer %}
      class="
        mega-panel__block
        {% if block.settings.additional_content_per_row > cta_count %}
        mega-panel__block--incomplete
        {% endif %}
        mega-panel__additional-content
      "
      style="
        --width: {{ block.settings.additional_content_width }};
        --per-row: {{ block.settings.additional_content_per_row }};
        --spacing: {{ block.settings.additional_content_spacing }};
      "
    {% else %}
      class="
        mega-panel__block
        {% if show_as_scroll %}mega-panel__block--scroll{% endif %}
      "
      style="        --per-row: {{ block.settings.sidebar_additional_content_per_row }};"
    {% endunless %}
  >
    {%- if block.settings.additional_content_title != blank -%}
      {%- liquid
        assign item_span = block.settings.additional_content_per_row
        if block.settings.additional_content_per_row > cta_count
          assign item_span = cta_count
        endif

        assign title_animation_start_position = item_start_position | plus: 1
      -%}
      <div
        class="
          mega-panel__heading
          {% unless in_drawer %}has-animation{% endunless %}
        "
        {% unless in_drawer %}
          style="animation-delay: {{ animation_delay | times: title_animation_start_position }}ms;"
        {% endunless %}
      >
        <p class="cta__title {{ heading_typography_classes }}" style="--item-span: {{ item_span }}">
          {{ block.settings.additional_content_title }}
        </p>
      </div>
    {%- endif -%}
    <div class="mega-panel__items">
      {%- for i in (1..6) -%}
        {%- liquid
          assign cta_present = false
          assign settings_image_id = 'image_' | append: i
          assign settings_image_title = settings_image_id | append: '_title'
          assign settings_image_text = settings_image_id | append: '_text'

          if block.settings[settings_image_id] != blank or block.settings[settings_image_title] != blank or block.settings[settings_image_text] != blank
            assign cta_present = true
          endif
        -%}

        {%- if cta_present -%}
          {%- liquid
            assign item_position = item_position | plus: 1
            assign image = block.settings[settings_image_id]
            assign settings_image_link = settings_image_id | append: '_link'
          -%}
          <div
            class="
              mega-panel__item
              cta
              cta--text-align-{{ block.settings.additional_content_alignment }}
              {% unless in_drawer %}has-animation{% endunless %}
            "
            {% unless in_drawer %}
              style="animation-delay: {{ animation_delay | times: item_position }}ms;"
            {% endunless %}
          >
            {% unless block.settings[settings_image_link] == blank %}
              <a href="{{ block.settings[settings_image_link] }}" class="cta__link">
            {% endunless %}

            {% if image %}
              <div
                class="o-ratio o-ratio--{{ block.settings.image_ratio }}"
                {% if block.settings.image_ratio == 'natural' %}
                  style="padding-bottom:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"
                {% endif %}
              >
                <div class="o-ratio__content">
                  {%- unless in_drawer -%}
                    {%- capture sizes -%}
                      {%- render 'mega-menu-image-sizes',
                        image: image,
                        container_ratio: block.settings.image_ratio,
                        content_width: block.settings.content_width,
                        area_width: block.settings.additional_content_width,
                        items_per_row: block.settings.additional_content_per_row,
                        content_spacing: block.settings.additional_content_spacing
                      -%}
                    {%- endcapture -%}
                  {%- else -%}
                    {%- liquid
                      assign sizes = '(min-width: 460px) 440px, 90vw'
                      if block.settings.sidebar_additional_content_per_row == '2'
                        assign sizes = '(min-width: 460px) 220px, 90vw'
                      endif
                    -%}
                  {%- endunless -%}

                  {{
                    image
                    | image_url: width: 1480
                    | image_tag: sizes: sizes, preload: true, class: 'cta__image', loading: 'lazy'
                  }}

                  {%- liquid
                    if block.settings.image_ratio != 'natural' and block.settings.image_ratio != 'circle'
                      assign values = block.settings.image_ratio | split: ':'
                      assign i_w = values[0] | plus: 0.0
                      assign i_h = values[1] | plus: 0.0
                      assign image_ratio = i_h | divided_by: i_w
                    elsif block.settings.image_ratio == 'circle'
                      assign image_ratio = 1
                    else
                      assign image_ratio = 1 | divided_by: image.aspect_ratio
                    endif
                    assign width = image.width
                    assign height = width | times: image_ratio | round
                    assign alt = 'general.media.loading_image' | t: alt: image.alt
                    render 'image-skeleton', alt: alt, width: width, height: height
                  -%}
                </div>
              </div>
            {% endif %}

            {%- if block.settings[settings_image_title] != blank or block.settings[settings_image_text] != blank -%}
              <div class="cta__content">
                {% unless block.settings[settings_image_title] == blank %}
                  <p class="cta__title {{ heading_typography_classes }}">
                    {{ block.settings[settings_image_title] | escape }}
                  </p>
                {% endunless %}
                {% unless block.settings[settings_image_text] == blank %}
                  <div class="cta__text rte">
                    {{ block.settings[settings_image_text] }}
                  </div>
                {% endunless %}
              </div>
            {%- endif -%}

            {% unless block.settings[settings_image_link] == blank %}
              </a>
            {% endunless %}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- else -%}
  {%- liquid
    assign item_position = item_position | plus: 1
  -%}
  <div
    {% unless in_drawer %}
      class="
        mega-panel__block
        {% if block.settings.additional_content_per_row > dummy_amount %}
        mega-panel__block--incomplete
        {% endif %}
        mega-panel__additional-content
      "
      style="
        --width: {{ block.settings.additional_content_width }};
        --per-row: {{ block.settings.additional_content_per_row }};
        --spacing: {{ block.settings.additional_content_spacing }};
      "
    {% else %}
      class="
        mega-panel__block
        {% if show_as_scroll %}mega-panel__block--scroll{% endif %}
      "
      style="--per-row: {{ block.settings.sidebar_additional_content_per_row }};"
    {% endunless %}
  >
    {%- if block.settings.additional_content_title != blank -%}
      {%- liquid
        assign item_span = block.settings.additional_content_per_row
        if block.settings.additional_content_per_row > dummy_amount
          assign item_span = dummy_amount
        endif

        assign title_animation_start_position = item_start_position | plus: 1
      -%}
      <div
        class="
          mega-panel__heading
          {% unless in_drawer %}has-animation{% endunless %}
        "
        {% unless in_drawer %}
          style="animation-delay: {{ animation_delay | times: title_animation_start_position }}ms;"
        {% endunless %}
      >
        <p class="cta__title {{ heading_typography_classes }}" style="--item-span: {{ item_span }}">
          {{ block.settings.additional_content_title }}
        </p>
      </div>
    {%- endif -%}
    <div class="mega-panel__items">
      {%- for i in (1..dummy_amount) -%}
        {%- liquid
          assign dummy_image_number = forloop.index0 | modulo: 6 | plus: 1
          assign dummy_image_id = 'product-' | append: dummy_image_number

          assign item_position = item_position | plus: 1
        -%}
        <div
          class="
            mega-panel__item
            cta
            cta--text-align-{{ block.settings.additional_content_alignment }}
            {% unless in_drawer %}has-animation{% endunless %}
          "
          {% unless in_drawer %}
            style="animation-delay: {{ animation_delay | times: item_position }}ms;"
          {% endunless %}
        >
          <div class="o-ratio o-ratio--{{ block.settings.image_ratio }}">
            <div class="o-ratio__content">
              {{ dummy_image_id | placeholder_svg_tag: 'placeholder-svg placeholder-svg--light' }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
