{% comment %}
  Renders product page collapsible tab block

  Accepts:
  - block-id: {String}
  - block-open: {Boolean}
  - block-title: {String}
  - block-icon: {String}
  - block-icon-color: {Object}
  - block-icon-size: {String}
  - block-icon-custom-svg: {String}
  - block-text: {String}
  - block-link: {Object}
  - block-image: {Object}
  - block-image-width: {String}
  - block-image-sizes: {String}
  - block-align: {String}
  - page-title: {String}
  - page-content: {String}
{% endcomment %}

{%- if page-title == blank -%}
  {%- unless block-title == blank -%}
    <details
      {% if block-open %}
        open
      {% endif %}
      id="{{ block-id }}"
    >
      <summary>
        {% unless block-icon == 'none' and block-icon-custom-svg == blank %}
          <div
            class="product-single__accordion__icon block--{{ block-id }}"
            style="width: {{ block-icon-size | plus : 1 | times : 3 | plus : 12 }}px; height: {{ block-icon-size | plus : 1 | times : 3 | plus : 12 }}px;"
          >
            {% if block-icon-custom-svg != blank %}
              {{ block-icon-custom-svg | replace: ' width=', ' ' | replace: ' height=', ' ' }}
            {% else %}
              {% render 'icons', icon: block-icon, icon_color: block-icon-color %}
            {% endif %}
          </div>
        {% endunless %}
        <h3 class="f-family--body u-large u-text-transform--none u-color-text">{{ block-title | escape }}</h3>
        <summary-icon>
          <i class="icon icon--plus-t" aria-hidden="true"></i>
        </summary-icon>
      </summary>

      <details-content>
        <div class="product-single__accordion__item-wrap rte">
          {{ block-text }}
        </div>
        {% if block-image != blank %}
          <div class="product-form__img" style="text-align: {{ block-align }}">
            {% unless block-link == blank %}
              <a href="{{ block-link }}" class="product-form__img__link">
            {% endunless %}
            <img
              class="product-form__img__img"
              src="{{ block-image | image_url: width: 360 }}"
              srcset="
                {{ block-image | image_url: width: 180 }} 180w {{ 180 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 360 }} 360w {{ 360 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 540 }} 540w {{ 540 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 720 }} 720w {{ 720 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 900 }} 900w {{ 900 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 1080 }} 1080w {{ 1080 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 1296 }} 1296w {{ 1296 | divided_by: block-image.aspect_ratio | round }}h,
                {{ block-image | image_url: width: 1512 }} 1512w {{ 1512 | divided_by: block-image.aspect_ratio | round }}h
              "
              width="360"
              height="{{ 360 | divided_by: block-image.aspect_ratio | round }}"
              alt="{{ block-image.alt }}"
              loading="lazy"
              style="max-width: {{ block-image-width }}px"
              sizes="{% if block-image-width < 380 %}{{ block-image-width }}px{% else %}{{ block-image-sizes }}{% endif %}"
            >
            {% unless block-link == blank %}
              </a>
            {% endunless %}
          </div>
        {% endif %}
      </details-content>
    </details>
  {%- endunless -%}
{%- else -%}
  <details
    {% if block-open %}
      open
    {% endif %}
    id="{{ block-id }}"
  >
    <summary>
      {% unless block-icon == 'none' and block-icon-custom-svg == blank %}
        <div
          class="product-single__accordion__icon block--{{ block-id }}"
          style="width: {{ block-icon-size | plus : 1 | times : 3 | plus : 12 }}px; height: {{ block-icon-size | plus : 1 | times : 3 | plus : 12 }}px;"
        >
          {% if block-icon-custom-svg != blank %}
            {{ block-icon-custom-svg | replace: ' width=', ' ' | replace: ' height=', ' ' }}
          {% else %}
            {% render 'icons', icon: block-icon, icon_color: block-icon-color %}
          {% endif %}
        </div>
      {% endunless %}
      <h3 class="f-family--body u-large u-text-transform--none u-color-text">{{ page-title }}</h3>
      <summary-icon>
        <i class="icon icon--plus-t" aria-hidden="true"></i>
      </summary-icon>
    </summary>

    <details-content>
      <div class="product-single__accordion__item-wrap rte">
        {{ page-content }}
      </div>
    </details-content>
  </details>
{%- endif -%}
