{% comment %}theme-check-disable RemoteAsset, TemplateLength{% endcomment %}
{%- comment -%}
  Render quick shop

  Accepts:
    - id: {String} Unique id of the item. By default section.id--product.id is used (optional)
    - product: {Object} Product object
    - section: {Object} Section
    - collection: {Object} Collection if product is within one
    - notify_on_add: {Boolean} Show notification
    - image_ratio: {String} Image ratio string. Values are "1:1", "3:4", "4:3", "16:9", "2:3", "natural"
    - image_sizes: {String} Image sizes attribute string
    - fit_image_to_container: {Boolean} Fit image into container, or resize (optional)
    - image_placeholder_file_name: {String} Image tag (optional)
{%- endcomment -%}
{%- liquid
  if notify_on_add == null
    assign notify_on_add = settings.quick_shop_show_cart
  endif

  if request.page_type == 'cart' and settings.cart_type == 'modal'
    assign notify_on_add = false
  endif

  unless image_ratio
    assign image_ratio = settings.product_grid_image_size
  endunless

  if fit_image_to_container == null
    assign fit_image_to_container = settings.product_grid_image_fit
  endif

  assign container_ratio = image_ratio

  comment
    TODO: Sizes
  endcomment
  unless image_sizes
    assign image_sizes = '(min-width: 768px) and (min-height: 601px) 151px, (min-width: 768px): 113px, calc(25vw - 30px)'
  endunless

  assign description = null

  if product
    if id == blank
      assign id = 'quick-shop--' | append: product.id
    endif

    assign current_variant = product.selected_or_first_available_variant

    assign product_title = product.title
    assign product_vendor = product.vendor
    assign product_url = product.url | within: collection

    if settings.quick_shop_product_description > 0
      if product.metafields.quick_shop.description != blank
        assign description = product.metafields.quick_shop.description | metafield_tag
      else
        assign description = product.description | strip_html | truncatewords: settings.quick_shop_product_description
      endif
    endif

    assign image = null
    comment
      Process first variant image
    endcomment
    assign image = product.featured_media.preview_image
    if current_variant.featured_media.preview_image != null
      assign image = current_variant.featured_media.preview_image
    endif
  else
    assign product_title = 'homepage.onboarding.product_title' | t
    assign product_vendor = 'homepage.onboarding.product_vendor' | t
    assign product_url = '#'

    unless image_placeholder_file_name
      assign image_placeholder_file_name = 'product-1'
    endunless
  endif
-%}

<quick-shop
  class="quick-shop--drawer-{{ settings.color_drawer_style }} quick-shop--media-ratio-{{ container_ratio }}"
  {% if product %}
    data-product-url="{{ product.url }}"
  {% endif %}
  image-container-ratio="{{ container_ratio }}"
  image-sizes="{{ image_sizes }}"
  {% if fit_image_to_container %}
    image-fit
  {% endif %}
>
  <div class="quick-shop__wrapper">
    <div class="quick-shop__header">
      <div class="product-card__details">
        <a href="{{ product_url }}" class="product-card__link js-product-link" title="{{ product_title }}">
          {%- if settings.product_grid_vendor -%}
            <p class="product-card__vendor">{{ product_vendor }}</p>
          {%- endif -%}
          <h3 class="quick-shop__title">{{ product_title }}</h3>
        </a>
      </div>

      <button title="Close (Esc)" type="button" class="mfp-close mfp-close--custom js-close-mfp" aria-label="close">
        <i class="icon icon--close-l"></i>
      </button>
    </div>

    <div class="quick-shop__main">
      <div class="product-card__wrapper">
        {%- if product -%}
          {% render 'product-grid-label', product: product %}
        {%- endif -%}

        <div
          class="
            product-card__media
            product-card__media--modal
            {% if secondary_image -%}
              product-card__media--hover-image
            {% elsif settings.product_grid_hover == 'zoom' %}
              product-card__media--hover-zoom
            {%- endif %}
            {% if fit_image_to_container -%}
              product-card__media--fit
            {% else %}
              product-card--crop
            {%- endif %}
          "
        >
          <div
            class="
              o-ratio
              o-ratio--{{ container_ratio }}
            "
            {% if image == null and image_ratio == 'natural' %}
              style="padding-bottom:100%;"
            {% elsif image != null and image_ratio == 'natural' %}
              style="padding-bottom:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            <div class="o-ratio__content">
              {% render 'theme-spinner', tag: 'product-card-spinner', additional_classes: 'product-card__spinner' %}

              <a
                href="{{ product_url }}"
                class="product-card__link product-card__link--full-opacity js-product-link{% if page == 'home' %} home-products__link{% endif %}"
                title="{{ product_title }}"
                tabindex="-1"
              >
                {%- if product -%}
                  {% render 'image',
                    image: image,
                    additional_classes: 'product-card__img js-img-modal',
                    image_ratio: container_ratio,
                    image_fit: fit_image_to_container,
                    image_srcset_widths: '180, 360, 540, 720, 900, 1080, 1296, 1512',
                    image_sizes: image_sizes,
                    render_skeleton: true,
                    minimum_reveal_delay: 350
                  %}
                {%- else -%}
                  {{
                    image_placeholder_file_name
                    | placeholder_svg_tag: 'product-card__img placeholder-svg placeholder-svg--light'
                  }}
                {%- endif -%}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="product-card__details is-hidden-in-drawer">
        <a href="{{ product_url }}" class="product-card__link js-product-link" title="{{ product_title }}">
          {%- if settings.product_grid_vendor -%}
            <p class="product-card__vendor">{{ product_vendor }}</p>
          {%- endif -%}
          <h3 class="product-card__title f-family--{{ settings.type_grid_style }} f-caps--{{ settings.type_grid_capitalize }} f-space--{{ settings.type_grid_letterspace }}">
            {{ product_title }}
          </h3>
        </a>
      </div>

      <div class="product-card__price">
        <div class="product-card__details__hover u-medium">
          <a
            href="{{ product_url }}"
            class="product-card__link js-product-link"
            title="{{ product_title }}"
            tabindex="-1"
          >
            {%- if product -%}
              {%- liquid
                assign price_id = 'price-' | append: id
              -%}
              {% render 'product-price',
                product: product,
                id: price_id,
                show_price_notes: false,
                use_variant: true,
                from_price: false
              %}
            {%- else -%}
              {% render 'product-price', show_price_notes: false, use_variant: true, from_price: true %}
            {%- endif -%}
          </a>
        </div>
      </div>

      {%- if settings.product_grid_reviews and product.metafields.reviews.rating.value != blank -%}
        {%- liquid
          assign rating_decimal = 0
          assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
          if decimal >= 0.3 and decimal <= 0.7
            assign rating_decimal = 0.5
          elsif decimal > 0.7
            assign rating_decimal = 1
          endif
        -%}

        <div class="product-card__rating">
          <a
            href="{{ product_url }}"
            class="product-card__link js-product-link"
            title="{{ product_title }}"
            tabindex="-1"
          >
            <div class="review-wrapper">
              <div
                class="rating"
                role="img"
                aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
              >
                <span
                  aria-hidden="true"
                  class="rating-star color-icon-{{ settings.accent_icons }}"
                  style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                ></span>
              </div>
              <div class="review-text-wrapper">
                <p class="rating-text caption">
                  <span aria-hidden="true">
                    {{- product.metafields.reviews.rating.value }} /
                    {{ product.metafields.reviews.rating.value.scale_max -}}
                  </span>
                </p>
                <p class="rating-count u-small caption">
                  <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                  <span class="visually-hidden">{{ product.metafields.reviews.rating_count }}</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      {%- endif -%}

      <hr class="product-form__divider">

      {%- liquid
        if product.variants.size == 1 and product.variants.first.title contains 'Default'
          assign hide_default_title = true
        else
          assign hide_default_title = false
        endif

        assign product_form_id = 'product-form-' | append: id
      -%}

      {%- if shop.shipping_policy.body != blank or cart.taxes_included or current_variant.unit_price and product -%}
        <div class="price__notes">
          {%- if product -%}
            <p id="unit-price-{{ id }}" class="price__note price__note--unit">
              {%- if current_variant.unit_price -%}
                {% render 'product-unit-price', product: product, variant: current_variant %}
              {%- endif -%}
            </p>
          {%- endif -%}
          {%- if cart.taxes_included -%}
            <p class="price__note price__note--tax">
              {{ 'products.general.include_taxes' | t }}
            </p>
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            <p class="price__note price__note--tax">
              {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            </p>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if product -%}
        {%- unless hide_default_title -%}
          <div class="product-form__variant product-form__variant--{{ settings.quick_shop_variant_style }}">
            <div class="product-form__swatches">
              {% render 'product-options',
                product: product,
                section_id: section.id,
                card_id: id,
                style: settings.quick_shop_variant_style,
                product_form_id: product_form_id
              %}
            </div>
          </div>
        {%- endunless -%}
      {%- endif -%}

      {%- if settings.quick_shop_quantity_selector or settings.quick_shop_inventory_notice -%}
        <div class="product-form__qty-wrapper">
          {%- if settings.quick_shop_quantity_selector -%}
            <div class="product-form__qty">
              {% comment %} <label for="Quantity-{{ product_form_id }}-{{ section.id }}" class="quantity-selector f-family--{{ settings.type_product_form_headings_style }} f-caps--{{ settings.type_product_form_headings_capitalize }} f-space--{{ settings.type_product_form_headings_letterspace }}">{{ 'products.product.quantity' | t }}</label> {% endcomment %}
              <div class="product-form__qty-input">
                <quantity-input>
                  <button minus type="button" aria-label="{{ 'cart.general.reduce_quantity' | t }}">
                    <span aria-hidden="true">&minus;</span>
                  </button>
                  {% comment %} TODO: quantity_rule {% endcomment %}
                  <input
                    id="Quantity-{{ product_form_id }}-{{ section.id }}"
                    type="number"
                    value="1"
                    min="1"
                    step="1"
                    name="quantity"
                    autocomplete="off"
                    form="{{ product_form_id }}"
                  >
                  <button plus type="button" aria-label="{{ 'cart.general.increase_quantity' | t }}">
                    <span aria-hidden="true">+</span>
                  </button>
                </quantity-input>
              </div>
            </div>
          {%- endif -%}

          {%- if settings.quick_shop_inventory_notice -%}
            <div
              id="inventory-notice-{{ id }}"
              data-inventory-limit="{{ settings.quick_shop_inventory_limit }}"
              data-show-qty="{{ settings.quick_shop_inventory_show_qty }}"
            >
              {%- liquid
                if current_variant.available == false
                  assign qty_sold = true
                else
                  assign qty_sold = false

                  if current_variant.inventory_management == 'shopify' and settings.quick_shop_inventory_show_qty
                    assign qty_number = true
                  else
                    assign qty_number = false
                  endif

                  if current_variant.inventory_management == 'shopify'
                    if current_variant.inventory_quantity <= settings.quick_shop_inventory_limit
                      assign qty_low = true
                    else
                      assign qty_low = false
                    endif
                  else
                    assign qty_low = false
                  endif
                endif
              -%}

              <div
                class="
                  product-form__stock-note
                  u-flex
                  u-flex--middle
                  {% if qty_sold %}
                    product-form__stock-note--sold
                  {% else %}
                    product-form__stock-note--in-stock
                    {% if qty_low %}
                      product-form__stock-note--low
                    {% endif %}
                  {% endif %}
                "
              >
                <div
                  class="
                    pulsating-dot
                    product-form__stock-note-dot
                  "
                >
                  <div class="pulsating-dot__ring"></div>
                  <div class="pulsating-dot__circle"></div>
                </div>

                <p class="product-form__stock-note-text">
                  {%- if qty_sold -%}
                    {{ 'products.product.qty_notice_sold_out' | t }}
                  {%- else -%}
                    {%- if qty_number -%}
                      {%- if qty_low -%}
                        {{
                          'products.product.qty_notice_number_low_stock_html'
                          | t: count: current_variant.inventory_quantity
                        }}
                      {%- else -%}
                        {{
                          'products.product.qty_notice_number_in_stock_html'
                          | t: count: current_variant.inventory_quantity
                        }}
                      {%- endif -%}
                    {%- else -%}
                      {%- if qty_low -%}
                        {{ 'products.product.qty_notice_low_stock' | t }}
                      {%- else -%}
                        {{ 'products.product.qty_notice_in_stock' | t }}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                </p>
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

    <div class="quick-shop__buttons">
      {%- if product -%}
        {%- unless settings.cart_type == 'page' -%}
          <product-form
            {% if notify_on_add %}
              notify-on-add
            {% endif %}
          >
        {%- endunless -%}
        {% form 'product', product, class: 'product-form product-form--card js-product-form', id: product_form_id %}
          <div
            class="
              product-form__add
              js-product-buttons
              {% if settings.quick_shop_payment_button %}product-form__add--dynamic{% endif %}
              {% if current_variant.available == false %}is-disabled{% endif %}
            "
          >
            <input
              type="hidden"
              name="id"
              value="{{ current_variant.id }}"
              {% unless settings.cart_type == 'page' %}
                disabled
              {% endunless %}
            >
            {% for variant in product.variants %}
              <input
                type="hidden"
                id="quantity-{{ id }}-{{ variant.id }}"
                data-qty="{{ variant.inventory_quantity }}"
                disabled
              >
            {% endfor %}
            <button
              type="submit"
              name="add"
              class="
                c-btn
                c-btn--full
                {% if settings.quick_shop_payment_button %}c-btn--hollow{% else %}c-btn--primary{% endif %}
                product-form__add-btn
                js-product-add
              "
              {% if current_variant.available == false %}
                disabled
              {% endif %}
            >
              <span class="product-form__add-btn__text">
                <span class="js-product-add-text">
                  {%- if current_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
              </span>
              <span class="product-form__add-btn__tick"><i class="icon icon--tick"></i></span>
              <span class="product-form__add-btn__spinner">
                {% render 'theme-spinner' %}
              </span>
            </button>

            {%- if settings.quick_shop_payment_button -%}
              <div class="buy-now-button">
                <div class="buy-now-button__placeholder skeleton-button">
                  <span
                    class="skeleton-text skeleton-text--inverse skeleton-text--small skeleton-text--inline skeleton-text--1/2"
                  ></span>
                </div>
                {{ form | payment_button }}
              </div>
            {%- endif -%}
          </div>
        {% endform %}
        {%- unless settings.cart_type == 'page' -%}
          </product-form>
        {%- endunless -%}
      {%- else -%}
        <div class="product-form__add js-product-buttons{% if settings.quick_shop_payment_button %} product-form__add--dynamic{% endif %}">
          <button
            type="submit"
            name="add"
            class="c-btn c-btn--full c-btn--{% if settings.quick_shop_payment_button %}hollow{% else %}primary{% endif %} product-form__add-btn js-product-add"
          >
            <span class="product-form__add-btn__text">
              <span class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
            </span>
            <span class="product-form__add-btn__tick"><i class="icon icon--tick"></i></span>
          </button>
        </div>
      {%- endif -%}
    </div>

    {%- if product -%}
      <div class="quick-shop__footer">
        {%- if description -%}
          <div class="product-card__description">
            {{- description -}}
          </div>
        {%- endif -%}
        <div class="product-card__more">
          <a
            href="{{ product.url | within: collection }}"
            class="product-card-details js-view-details"
            title="{{ product.title }}"
          >
            {{- 'general.quickshop.view_details' | t -}}
          </a>
        </div>
      </div>
    {%- endif -%}

    {%- if product -%}
      <script type="application/json" id="ProductJson-{{ id }}">
        {{ product | json }}
      </script>
    {%- endif -%}
  </div>
</quick-shop>
