{% if section.settings.show %}
<style>
  .shopify-section.shopify-section--footer-icons {
    background: #000;
    color: #fff;
  }
  .footer-icons_item {
    width: 100%;
  }
  [aria-labelledby="pi-shopify_pay"] {
    display: none;
  }
  svg#Layer_1 {
    width: 125px;
    height: 35px;
    margin-right: 5px;
}
  svg#Layer_1 g path {
    fill: white;
}
  .two_payment_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

  @media screen and (max-width: 767.98px) {
    .footer-icons_container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .footer-icons_item .text{
      padding-top:25px;
      padding-bottom:5px;
      font-weight:600;
    }
    .footer-icons_item.middle-icon {
      text-align:center;
    }
    .footer-icons_item.last-icon {
      text-align:center;
    }
    .footer-icons_item.first-icon {
      text-align:center;
    }
    .footer-icons_item.second-icon {
      text-align:center;
    }
  
  .made-link{
  text-align:center;
  }

  }
  @media screen and (min-width: 768px) {
    .footer-icons_item.middle-icon {
      text-align:center;
    }

    .footer-icons_item .text{
      padding-bottom:10px;
      font-weight:600;
    }
    .footer-icons_item.last-icon {
      text-align:right;
    }
    .footer-icons_item.first-icon {
      text-align:left;
    }

    .footer-icons_item.second-icon {
      text-align:right;
    }
    .footer-icons_item .payment-methods-list {
      display: flex;
      justify-content: flex-start;
    }
    .footer-icons_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .footer-icons_item .payment-methods-list {
      display: flex;
      justify-content: center;
    }
</style>
<div class="container footer-icons_container padded-side">
  {% if section.settings.t1 != empty %}
  <div class="footer-icons_item first-icon">
    <div class="text">{{ section.settings.t1 }}</div>
    {% if section.settings.i1 %}
    <img src="{{ section.settings.i1 | img_url: '300x' }}" loading="lazy" alt="{{ section.settings.i1.alt }}" style="max-width:200px;">
    {% else %}
    <div style="align-items: center;" class="payment-methods-list payment-methods-list--auto">
              <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-mobilepay"><title id="pi-mobilepay">MobilePay</title><path fill="#000" opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path style=" fill: none; stroke: white;" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.05 15.296s2.53-.771 4.282-.776c2.896-.007 4.857 1.15 4.857 1.15V10.06s-1.97-1.02-4.453-1.09c-2.481-.068-4.687 1.012-4.687 1.012v5.313z" fill="white"></path><path  fill-rule="evenodd" clip-rule="evenodd" d="M17.308 9.19l2.082 4.957V9.396s1.646-.882 3.485-1.13c1.84-.249 4.181.08 4.181.08l-1.133-2.707s-2.461-.159-4.69.794c-2.228.952-3.925 2.756-3.925 2.756z" fill="white"></path><path d="M21.428 5.676l-.82-1.99a1.818 1.818 0 00-2.37-.996l-5.663 2.334a1.818 1.818 0 00-.98 2.376l5.46 13.247a1.818 1.818 0 002.37.995l5.662-2.334a1.817 1.817 0 00.98-2.376l-.677-1.642s-.462-.027-.676-.033c-.226-.006-.644-.001-.644-.001l.88 2.136a.606.606 0 01-.326.793l-5.663 2.333a.606.606 0 01-.79-.331L12.711 6.94a.606.606 0 01.327-.792L18.7 3.814a.606.606 0 01.79.332l.83 2.011s.383-.187.59-.27c.206-.082.518-.211.518-.211z" fill="white"></path></svg>
              
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" role="img" aria-labelledby="pi-viabill"><title id="pi-viabill">ViaBill</title><path fill="#000" opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path style=" fill: none; stroke: white;" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><g fill="#fff"><path d="M24.048 8.885a.676.676 0 0 0-.676.676v4.877a.676.676 0 0 0 1.352 0V9.561a.676.676 0 0 0-.676-.676ZM22.419 13.133a1.691 1.691 0 0 0-1.031-1.52 1.3 1.3 0 0 0 .443-1.016c0-1.139-.964-1.665-2.13-1.665h-1.612a.592.592 0 0 0 0 1.183h1.612c.517 0 .78.263.78.622s-.263.578-.8.578h-.647a.57.57 0 1 0 .021 1.139h1.239a.752.752 0 0 1 .812.765c0 .571-.688.71-1.038.719a.572.572 0 0 0-.11 1.136 2.361 2.361 0 0 0 .392.04 2.166 2.166 0 0 0 1.131-.281 1.864 1.864 0 0 0 .938-1.7ZM12.129 8.885a.676.676 0 0 1 .625.935l-2.016 4.877a.676.676 0 0 1-.625.418.676.676 0 0 1-.625-.935l2.016-4.877a.677.677 0 0 1 .625-.418ZM17.568 15.114a.677.677 0 0 1-.625-.418l-1.637-4.168-1.637 4.168a.676.676 0 0 1-.625.418.676.676 0 0 1-.625-.935l1.922-4.649a1.045 1.045 0 0 1 .965-.645 1.045 1.045 0 0 1 .965.645l1.922 4.649a.676.676 0 0 1-.625.935ZM4.677 8.885a.677.677 0 0 1 .625.418l1.637 4.168 1.637-4.168a.677.677 0 0 1 .625-.418.676.676 0 0 1 .625.935l-1.922 4.649a1.045 1.045 0 0 1-.965.645 1.044 1.044 0 0 1-.965-.645L4.052 9.82a.676.676 0 0 1 .625-.935ZM33.409 13.884h-1.637V9.565a.681.681 0 1 0-1.361 0v4.91a.591.591 0 0 0 .591.591h2.406a.591.591 0 0 0 .591-.591.591.591 0 0 0-.59-.591ZM28.876 13.884h-1.637V9.565a.681.681 0 1 0-1.361 0v4.91a.591.591 0 0 0 .591.591h2.407a.591.591 0 0 0 .591-.591.591.591 0 0 0-.591-.591Z"></path></g></svg>
            
              <svg class="section-footer__payment-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" x="0" y="0" width="38" height="24" viewBox="0 0 165.521 105.965" xml:space="preserve" aria-labelledby="pi-apple_pay"><title id="pi-apple_pay">Apple Pay</title><path fill="#000" d="M150.698 0H14.823c-.566 0-1.133 0-1.698.003-.477.004-.953.009-1.43.022-1.039.028-2.087.09-3.113.274a10.51 10.51 0 0 0-2.958.975 9.932 9.932 0 0 0-4.35 4.35 10.463 10.463 0 0 0-.975 2.96C.113 9.611.052 10.658.024 11.696a70.22 70.22 0 0 0-.022 1.43C0 13.69 0 14.256 0 14.823v76.318c0 .567 0 1.132.002 1.699.003.476.009.953.022 1.43.028 1.036.09 2.084.275 3.11a10.46 10.46 0 0 0 .974 2.96 9.897 9.897 0 0 0 1.83 2.52 9.874 9.874 0 0 0 2.52 1.83c.947.483 1.917.79 2.96.977 1.025.183 2.073.245 3.112.273.477.011.953.017 1.43.02.565.004 1.132.004 1.698.004h135.875c.565 0 1.132 0 1.697-.004.476-.002.952-.009 1.431-.02 1.037-.028 2.085-.09 3.113-.273a10.478 10.478 0 0 0 2.958-.977 9.955 9.955 0 0 0 4.35-4.35c.483-.947.789-1.917.974-2.96.186-1.026.246-2.074.274-3.11.013-.477.02-.954.022-1.43.004-.567.004-1.132.004-1.699V14.824c0-.567 0-1.133-.004-1.699a63.067 63.067 0 0 0-.022-1.429c-.028-1.038-.088-2.085-.274-3.112a10.4 10.4 0 0 0-.974-2.96 9.94 9.94 0 0 0-4.35-4.35A10.52 10.52 0 0 0 156.939.3c-1.028-.185-2.076-.246-3.113-.274a71.417 71.417 0 0 0-1.431-.022C151.83 0 151.263 0 150.698 0z"></path><path style=" stroke: white; stroke-width: 5px;" fill="none" d="M150.698 3.532l1.672.003c.452.003.905.008 1.36.02.793.022 1.719.065 2.583.22.75.135 1.38.34 1.984.648a6.392 6.392 0 0 1 2.804 2.807c.306.6.51 1.226.645 1.983.154.854.197 1.783.218 2.58.013.45.019.9.02 1.36.005.557.005 1.113.005 1.671v76.318c0 .558 0 1.114-.004 1.682-.002.45-.008.9-.02 1.35-.022.796-.065 1.725-.221 2.589a6.855 6.855 0 0 1-.645 1.975 6.397 6.397 0 0 1-2.808 2.807c-.6.306-1.228.511-1.971.645-.881.157-1.847.2-2.574.22-.457.01-.912.017-1.379.019-.555.004-1.113.004-1.669.004H14.801c-.55 0-1.1 0-1.66-.004a74.993 74.993 0 0 1-1.35-.018c-.744-.02-1.71-.064-2.584-.22a6.938 6.938 0 0 1-1.986-.65 6.337 6.337 0 0 1-1.622-1.18 6.355 6.355 0 0 1-1.178-1.623 6.935 6.935 0 0 1-.646-1.985c-.156-.863-.2-1.788-.22-2.578a66.088 66.088 0 0 1-.02-1.355l-.003-1.327V14.474l.002-1.325a66.7 66.7 0 0 1 .02-1.357c.022-.792.065-1.717.222-2.587a6.924 6.924 0 0 1 .646-1.981c.304-.598.7-1.144 1.18-1.623a6.386 6.386 0 0 1 1.624-1.18 6.96 6.96 0 0 1 1.98-.646c.865-.155 1.792-.198 2.586-.22.452-.012.905-.017 1.354-.02l1.677-.003h135.875"></path><g><g><path fill="white" d="M43.508 35.77c1.404-1.755 2.356-4.112 2.105-6.52-2.054.102-4.56 1.355-6.012 3.112-1.303 1.504-2.456 3.959-2.156 6.266 2.306.2 4.61-1.152 6.063-2.858"></path><path fill="white" d="M45.587 39.079c-3.35-.2-6.196 1.9-7.795 1.9-1.6 0-4.049-1.8-6.698-1.751-3.447.05-6.645 2-8.395 5.1-3.598 6.2-.95 15.4 2.55 20.45 1.699 2.5 3.747 5.25 6.445 5.151 2.55-.1 3.549-1.65 6.647-1.65 3.097 0 3.997 1.65 6.696 1.6 2.798-.05 4.548-2.5 6.247-5 1.95-2.85 2.747-5.6 2.797-5.75-.05-.05-5.396-2.101-5.446-8.251-.05-5.15 4.198-7.6 4.398-7.751-2.399-3.548-6.147-3.948-7.447-4.048"></path></g><g><path fill="white" d="M78.973 32.11c7.278 0 12.347 5.017 12.347 12.321 0 7.33-5.173 12.373-12.529 12.373h-8.058V69.62h-5.822V32.11h14.062zm-8.24 19.807h6.68c5.07 0 7.954-2.729 7.954-7.46 0-4.73-2.885-7.434-7.928-7.434h-6.706v14.894z"></path><path fill="white" d="M92.764 61.847c0-4.809 3.665-7.564 10.423-7.98l7.252-.442v-2.08c0-3.04-2.001-4.704-5.562-4.704-2.938 0-5.07 1.507-5.51 3.82h-5.252c.157-4.86 4.731-8.395 10.918-8.395 6.654 0 10.995 3.483 10.995 8.89v18.663h-5.38v-4.497h-.13c-1.534 2.937-4.914 4.782-8.579 4.782-5.406 0-9.175-3.222-9.175-8.057zm17.675-2.417v-2.106l-6.472.416c-3.64.234-5.536 1.585-5.536 3.95 0 2.288 1.975 3.77 5.068 3.77 3.95 0 6.94-2.522 6.94-6.03z"></path><path fill="white" d="M120.975 79.652v-4.496c.364.051 1.247.103 1.715.103 2.573 0 4.029-1.09 4.913-3.899l.52-1.663-9.852-27.293h6.082l6.863 22.146h.13l6.862-22.146h5.927l-10.216 28.67c-2.34 6.577-5.017 8.735-10.683 8.735-.442 0-1.872-.052-2.261-.157z"></path></g></g></svg>
            
              <svg class="section-footer__payment-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-google_pay"><title id="pi-google_pay">Google Pay</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"></path><path style="stroke: white;" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="none"></path><path d="M18.093 11.976v3.2h-1.018v-7.9h2.691a2.447 2.447 0 0 1 1.747.692 2.28 2.28 0 0 1 .11 3.224l-.11.116c-.47.447-1.098.69-1.747.674l-1.673-.006zm0-3.732v2.788h1.698c.377.012.741-.135 1.005-.404a1.391 1.391 0 0 0-1.005-2.354l-1.698-.03zm6.484 1.348c.65-.03 1.286.188 1.778.613.445.43.682 1.03.65 1.649v3.334h-.969v-.766h-.049a1.93 1.93 0 0 1-1.673.931 2.17 2.17 0 0 1-1.496-.533 1.667 1.667 0 0 1-.613-1.324 1.606 1.606 0 0 1 .613-1.336 2.746 2.746 0 0 1 1.698-.515c.517-.02 1.03.093 1.49.331v-.208a1.134 1.134 0 0 0-.417-.901 1.416 1.416 0 0 0-.98-.368 1.545 1.545 0 0 0-1.319.717l-.895-.564a2.488 2.488 0 0 1 2.182-1.06zM23.29 13.52a.79.79 0 0 0 .337.662c.223.176.5.269.785.263.429-.001.84-.17 1.146-.472.305-.286.478-.685.478-1.103a2.047 2.047 0 0 0-1.324-.374 1.716 1.716 0 0 0-1.03.294.883.883 0 0 0-.392.73zm9.286-3.75l-3.39 7.79h-1.048l1.281-2.728-2.224-5.062h1.103l1.612 3.885 1.569-3.885h1.097z" fill="white"></path><path d="M13.986 11.284c0-.308-.024-.616-.073-.92h-4.29v1.747h2.451a2.096 2.096 0 0 1-.9 1.373v1.134h1.464a4.433 4.433 0 0 0 1.348-3.334z" fill="white"></path><path d="M9.629 15.721a4.352 4.352 0 0 0 3.01-1.097l-1.466-1.14a2.752 2.752 0 0 1-4.094-1.44H5.577v1.17a4.53 4.53 0 0 0 4.052 2.507z" fill="white"></path><path d="M7.079 12.05a2.709 2.709 0 0 1 0-1.735v-1.17H5.577a4.505 4.505 0 0 0 0 4.075l1.502-1.17z" fill="white"></path><path d="M9.629 8.44a2.452 2.452 0 0 1 1.74.68l1.3-1.293a4.37 4.37 0 0 0-3.065-1.183 4.53 4.53 0 0 0-4.027 2.5l1.502 1.171a2.715 2.715 0 0 1 2.55-1.875z" fill="white"></path></svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="-36 25 38 24" role="img" aria-labelledby="pi-visaelectron"><title id="pi-visaelectron">Visa Electron</title><path style=" fill: none; stroke: white;" d="M2 47.5c0 .8-.7 1.5-1.5 1.5h-35c-.8 0-1.5-.7-1.5-1.5v-21c0-.8.7-1.5 1.5-1.5h35c.8 0 1.5.7 1.5 1.5v21z"></path><path fill="white" d="M-24.5 38c3.4-1.4 8.1-2.8 14.3-1.4l.1-1.6c-6.6-.7-11.3 1.4-14.4 2.9v.1z"></path><path fill="#fff" d="M-30.6 39.1h3.2v1h-2v.9h2v.9h-2v.9h2v.9h-3.2v-4.6zm4-.3h1.2v5h-1.2v-5zm5.1 4.6c-.4.3-1 .5-1.5.5-1.2 0-1.8-.9-1.8-1.7 0-1 .8-1.9 1.8-1.9 1.3 0 1.7.9 1.7 2.1h-2.3c0 .3.2.7.8.7.4 0 .6-.1.9-.3l.4.6zm-.8-1.8c0-.3-.2-.7-.6-.7-.4 0-.6.3-.7.7h1.3zm4.5 1.9c-.3.2-.8.3-1.2.3-1.1 0-1.8-.6-1.8-1.7s.8-1.9 1.9-1.9c.4 0 .9.1 1.1.3l-.4.8c-.2-.1-.4-.1-.5-.1-.6 0-1 .3-1 .9 0 .5.4.9.9.9.2 0 .4-.1.6-.2l.4.7zm.4-3.1h.5v-1.1h1.1v1.1h.9v.8h-.9v1.2c0 .3.1.4.3.4.2 0 .3-.1.4-.2l.3.8c-.3.2-.7.3-1.1.3-.9 0-1-.6-1-1.4V41h-.5v-.6zm3.2 0h1.2v.5c.2-.3.4-.6.8-.6h.4l-.2 1.2c-.1 0-.2-.1-.4-.1-.4 0-.7.3-.7.4v1.9h-1.2l.1-3.3zm4.5-.1c1.2 0 1.9.8 1.9 1.8s-.6 1.8-1.9 1.8c-1.2 0-1.9-.8-1.9-1.8s.6-1.8 1.9-1.8m0 2.7c.6 0 .7-.5.7-.9s-.2-.9-.7-.9c-.6 0-.7.5-.7.9s.1.9.7.9m2.5-2.6H-6v.4c.3-.3.7-.5 1.1-.5.7 0 1.1.4 1.1 1.3v2.2H-5v-2c0-.3-.1-.5-.4-.5-.2 0-.5.2-.6.3v2.2h-1.2v-3.4zm-13.9-6.9l1.5-4.8h1.3l-1.5 4.8h-1.3zm-.5-4.8l-1.2 2c-.3.5-.5.8-.6 1.1v-1.3l-.1-1.9h-2.2v.1c.6 0 .9.3 1 .9l.4 3.8h1.3l2.7-4.8h-1.3v.1zm10.1 4.8v-.7h-1.6l-.3.7h-1.4l2.6-4.8h1.7l.4 4.8h-1.4zm-.2-2.9v-1.1c-.1.2-.4 1-.6 1.3l-.5 1.1h1.1v-1.3zm-5.2 3c-.9 0-1.5-.3-2-.6l.6-.9c.4.2.7.5 1.4.5.2 0 .4-.1.6-.3.2-.3 0-.5-.5-.8l-.3-.2c-.8-.5-1.1-1-.7-1.9.2-.5.8-1 1.8-1 .7 0 1.3.3 1.7.6l-.7 1c-.4-.3-.7-.4-1-.4s-.5.1-.6.2c-.1.3 0 .5.4.7l.3.2c.9.6 1.2 1.2.9 1.7-.4 1-1.1 1.2-1.9 1.2"></path></svg>
              
              <svg class="section-footer__payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path style="fill: none; stroke: white;" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="white" cx="15" cy="12" r="7"></circle><circle fill="#a8a7a7" cx="23" cy="12" r="7"></circle><path fill="#a8a7a7" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
             
              <svg class="section-footer__payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="none" style="fill: none; stroke: white;" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="white" d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
                            
              <svg style="border: 1px solid white; background: none; height: 24px;  margin-right: 5px;  border-radius: 2px;" class="section-footer__payment-icon" xmlns="http://www.w3.org/2000/svg" width="1200" height="630" viewBox="0 0 1200 630" fill="none"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M365.527 354.508H342.186L355.432 317.174C343.243 308.117 325.935 309.118 314.876 320.177L300 305.3C316.979 288.321 342.748 285.491 362.658 296.81L383.878 237H406.414L448.105 354.508H424.764L416.668 331.118C403.015 337.069 387.337 336.9 373.8 330.608L365.527 354.508ZM380.744 310.546C389.718 315.508 400.623 315.702 409.749 311.129L395.146 268.872L380.744 310.546ZM665.396 356.118C675.859 356.118 684.391 351.772 689.703 345.494V351.353C689.703 353.096 691.115 354.508 692.858 354.508H711.756V237H689.703V281.911C684.391 276.277 676.181 272.413 665.718 272.413C647.528 272.413 626.602 285.774 626.602 314.266C626.602 342.597 648.333 356.118 665.396 356.118ZM669.742 335.836C657.509 335.836 648.172 326.5 648.172 314.105C648.172 301.71 657.509 292.535 669.742 292.535C681.654 292.535 690.346 302.193 690.346 314.105C690.346 326.017 681.654 335.836 669.742 335.836ZM759.4 356.118C769.864 356.118 778.395 351.772 783.707 345.494V351.353C783.707 353.096 785.12 354.509 786.863 354.509H805.76V274.023H786.863C785.12 274.023 783.707 275.436 783.707 277.179V281.911C778.395 276.277 770.185 272.414 759.722 272.414C741.533 272.414 720.607 285.774 720.607 314.266C720.607 342.597 742.338 356.118 759.4 356.118ZM763.747 335.836C751.513 335.836 742.177 326.5 742.177 314.105C742.177 301.71 751.513 292.535 763.747 292.535C775.658 292.535 784.351 302.193 784.351 314.105C784.351 326.017 775.658 335.836 763.747 335.836ZM504.096 270.881C491.379 270.881 481.721 276.399 476.409 282.838V277.22C476.409 275.477 474.996 274.064 473.253 274.064H456.61V354.586H479.307V312.25C479.307 297.924 486.067 289.554 497.818 289.554C509.247 289.554 514.559 296.958 514.559 310.963V354.586H537.256V309.675C537.256 279.573 520.998 270.881 504.096 270.881ZM555.83 393.774H572.597C576.046 393.774 579.147 391.669 580.419 388.462L625.9 273.817H602.598L583.727 324.36L563.542 273.817H539.912L572.568 352.257L555.83 393.774ZM846.696 393.985H829.929L846.668 352.467L814.012 274.028H837.642L857.826 324.57L876.698 274.028H900L854.518 388.672C853.246 391.879 850.146 393.985 846.696 393.985Z" fill="#151826"/></svg>
              
      </div>
    {% endif %}
  </div>
  {% endif %}
  {% if section.settings.t2 != empty %}
  <div class="footer-icons_item middle-icon">
    <div class="text">{{ section.settings.t2 }}</div>
  <div class="two_payment_icons">
    {% if section.settings.i2 %}
      {% comment %}
      <img src="{{ section.settings.i2 | img_url: '300x' }}" loading="lazy" alt="{{ section.settings.i2.alt }}" style="max-width:120px;padding:0 10px;">
      {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="600px" height="114px" viewBox="0 0 600 114" enable-background="new 0 0 600 114" xml:space="preserve">
      <g>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0498BA" d="M0.5,23c8.159-0.027,16.317-0.026,24.476-0.11   c1.395-0.014,1.69,0.555,1.625,1.773c-0.076,1.408-0.018,2.824-0.018,4.321c0.306-0.057,0.597-0.022,0.742-0.151   c17.247-15.289,43.533-9.186,51.751,12.423c5.855,15.397,4.752,30.333-6.376,43.337c-11.739,13.717-34.058,14.373-45.195,5.514   c-0.173-0.138-0.425-0.176-1.005-0.404c0,8.232,0,16.264,0,24.297c-7.9,0-15.8-0.057-23.699,0.044   c-1.772,0.022-2.363-0.238-2.358-2.233C0.525,82.207,0.5,52.604,0.5,23z M25.926,58.078c-0.111,8.506,5.778,14.645,14.196,14.797   c8.028,0.145,14.247-5.814,14.377-13.776c0.149-9.208-5.378-15.385-13.883-15.515C32.008,43.452,26.041,49.34,25.926,58.078z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0498BA" d="M600.5,94c-7.313-0.483-14.635-0.077-21.951-0.209   c-0.749-0.013-1.509-0.079-2.246,0.016c-1.623,0.209-2.021-0.555-1.909-2.022c0.106-1.39,0.022-2.795,0.022-4.542   c-1.484,1.232-2.677,2.336-3.98,3.287c-12.225,8.908-31.617,6.816-41.996-4.505c-12.975-14.155-12.913-39.895-0.158-54.186   c11.564-12.955,33.688-14.569,45.262-5.357c0.167,0.133,0.427,0.149,0.873,0.296c0-6.274,0.096-12.406-0.057-18.531   c-0.046-1.872,0.67-2.394,2.293-2.696c6.945-1.293,13.872-2.685,20.807-4.037c0.398-0.078,0.84-0.046,1.041-0.515   c1.711-0.378,2.053,0.288,2.049,2C600.481,33.333,600.5,63.666,600.5,94z M546.501,58.162c-0.007,8.704,5.763,14.765,14.097,14.809   c8.521,0.047,14.443-5.975,14.477-14.719c0.031-8.51-5.903-14.465-14.411-14.461C552.249,43.795,546.507,49.622,546.501,58.162z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0498BA" d="M418.68,20.469c7.956,0.122,14.641,1.237,21.007,3.964   c14.999,6.423,22.888,20.112,21.583,36.413c-1.56,19.49-14.82,30.803-32.305,34.098c-10.387,1.959-20.588,1.152-30.359-3.009   c-15.441-6.573-22.246-19.692-21.436-35.479c1.156-22.514,17.57-33.092,35.115-35.436C414.754,20.69,417.254,20.588,418.68,20.469z    M404.795,58.289c0.002,8.482,6.156,14.709,14.416,14.588c8.381-0.123,14.197-6.057,14.205-14.492   c0.008-8.794-5.865-14.836-14.389-14.802C410.632,43.617,404.791,49.65,404.795,58.289z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0498BA" d="M129.176,20.482c10.908,0.271,21.103,2.735,29.691,9.914   c7.15,5.977,10.82,13.792,11.622,22.978c0.916,10.492-1.016,20.253-8.051,28.488c-6.028,7.055-13.9,10.938-22.862,12.817   c-10.625,2.228-21.037,1.558-31.112-2.567c-16.718-6.844-23.339-21.486-21.72-37.907c1.813-18.375,14.729-29.348,31.757-32.67   C122.021,20.848,125.578,20.472,129.176,20.482z M128.742,43.584c-8.521-0.068-14.478,5.886-14.648,14.643   c-0.16,8.229,6.154,14.627,14.443,14.633c8.247,0.006,14.273-6.037,14.366-14.404C142.997,49.93,137.017,43.65,128.742,43.584z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0598BA" d="M324.639,28.651c8.594-8.386,18.7-9.742,29.544-6.832   c9.833,2.639,14.446,10.021,16.273,19.528c0.489,2.543,0.64,5.113,0.637,7.703c-0.019,14.081-0.042,28.161,0.029,42.241   c0.01,1.875-0.365,2.59-2.431,2.553c-7.162-0.133-14.33-0.115-21.493-0.008c-1.939,0.029-2.548-0.473-2.538-2.49   c0.053-11.744-0.033-23.49-0.104-35.235c-0.007-1.157-0.137-2.329-0.354-3.466c-1.214-6.333-3.75-8.44-9.795-8.213   c-5.817,0.218-9.371,3.372-9.884,9.181c-0.579,6.562-0.163,13.155-0.221,19.734c-0.054,6.081-0.073,12.164,0.026,18.244   c0.029,1.776-0.547,2.259-2.273,2.238c-7.331-0.083-14.664-0.077-21.995-0.002c-1.607,0.016-2.106-0.403-2.102-2.082   c0.058-22.246,0.063-44.491-0.005-66.735c-0.005-1.857,0.645-2.147,2.286-2.129c7.165,0.082,14.332,0.114,21.494-0.014   c2.094-0.038,2.843,0.564,2.594,2.642C324.215,26.448,324.074,27.473,324.639,28.651z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0598BA" d="M211.215,20.546c8.705,0.298,16.646,0.971,24.469,2.806   c1.644,0.386,1.959,0.893,1.548,2.508c-1.332,5.236-2.582,10.498-3.658,15.792c-0.402,1.981-1.126,2.04-2.841,1.527   c-8.105-2.422-16.334-3.978-24.853-2.736c-0.653,0.095-1.295,0.284-1.93,0.472c-1.563,0.46-2.785,1.376-2.767,3.105   c0.019,1.79,1.407,2.568,2.948,2.917c5.601,1.269,11.371,1.593,16.944,3.038c2.986,0.774,5.918,1.682,8.708,3.009   c7.723,3.672,11.162,9.681,10.907,18.218c-0.302,10.111-5.477,16.606-14.466,20.478c-7.246,3.119-14.946,3.904-22.702,4.075   c-9.706,0.214-19.249-1.075-28.61-3.718c-1.525-0.431-1.939-0.91-1.485-2.545c1.534-5.527,2.936-11.093,4.245-16.678   c0.423-1.804,1.067-1.934,2.69-1.309c8.626,3.319,17.51,5.265,26.834,4.569c1.261-0.095,2.486-0.319,3.63-0.831   c1.287-0.574,2.195-1.458,2.18-3.033c-0.015-1.588-0.941-2.426-2.275-2.937c-2.905-1.114-5.99-1.359-9.034-1.76   c-5.292-0.696-10.524-1.649-15.497-3.649c-14.374-5.781-17.364-24.28-5.58-34.483c6.473-5.604,14.377-7.417,22.58-8.323   C206.092,20.74,209.012,20.681,211.215,20.546z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0598BA" d="M245.499,50.268c0-13.667,0.042-27.333-0.047-41   c-0.013-1.896,0.495-2.345,2.345-2.316c7.248,0.112,14.501,0.127,21.748-0.007c1.991-0.037,2.341,0.654,2.285,2.421   c-0.121,3.83,0.048,7.668-0.075,11.498c-0.056,1.717,0.579,2.098,2.161,2.081c6.583-0.072,13.167,0.01,19.75-0.057   c1.734-0.018,2.28,0.252,1.311,2.007c-3.419,6.189-6.769,12.417-10.077,18.667c-0.596,1.125-1.319,1.502-2.556,1.464   c-2.748-0.084-5.507,0.099-8.247-0.068c-1.89-0.115-2.359,0.479-2.349,2.35c0.081,14.416,0.045,28.833,0.044,43.25   c0,3.23-0.001,3.231-3.204,3.232c-6.833,0-13.668-0.084-20.499,0.051c-2.051,0.041-2.656-0.46-2.641-2.574   C245.546,77.602,245.499,63.935,245.499,50.268z"/>
      	<path fill-rule="evenodd" clip-rule="evenodd" fill="#0498BA" d="M493.583,30.506c5.988-8.059,13.937-9.128,22.504-8.469   c1.558,0.119,2.31,0.717,2.241,2.489c-0.261,6.734-0.4,13.473-0.518,20.211c-0.027,1.597-0.529,2.004-2.111,1.595   c-2.996-0.774-6.07-1.013-9.166-0.75c-8.641,0.735-12.903,5.295-12.938,13.97c-0.043,10.494-0.067,20.988,0.035,31.48   c0.021,2.093-0.354,2.877-2.683,2.82c-7.074-0.174-14.156-0.104-21.234-0.033c-1.608,0.016-2.344-0.229-2.338-2.125   c0.066-22.236,0.058-44.473,0.01-66.708c-0.004-1.605,0.406-2.127,2.068-2.108c7.41,0.086,14.824,0.084,22.234,0.001   c1.592-0.019,2.025,0.507,1.922,1.999C493.494,26.526,493.583,28.188,493.583,30.506z"/>
      </g>
      </svg>
    {% endif %}
        
    {% if section.settings.i4 %}
      <svg xmlns="http://www.w3.org/2000/svg" height="100" viewBox="0 0 654.45 218.59" width="150"><path d="m0 0h654.45v218.59h-654.45z" fill="none"/><g fill-rule="evenodd"><g fill="#fff"><path d="m255.392 157.172c-1.864-.801-3.996-1.356-5.86-1.356-6.122 0-10.38 5.33-10.38 11.738 0 2.927 1.864 5.854 6.39 5.854 1.328 0 2.662-.278 3.725-.555l1.599-8.503h3.725l-2.13 11.184c-2.396.8-5.323 1.324-7.72 1.324-6.39 0-9.581-3.728-9.581-9.057 0-8.78 6.386-15.158 14.905-15.158 2.132 0 4.526.246 6.39.8zm5.856 11.984v1.849c0 2.125.798 2.926 3.46 2.926 1.593 0 3.195-.523 4.797-1.078v2.927c-1.88.801-3.728 1.078-6.128 1.078-3.993 0-5.857-1.848-5.857-5.853 0-6.932 3.993-12.231 9.582-12.231 3.728 0 5.052 2.126 5.052 4.251 0 3.728-3.727 5.854-10.906 6.131zm5.33-7.455c-2.403 0-3.999 2.125-4.797 4.775 4.52 0 6.923-1.078 6.923-3.204 0-1.048-.801-1.571-2.126-1.571m21.289 14.88h-3.45l1.848-11.183c.554-2.373.277-3.451-1.048-3.451-2.927 0-6.13 6.408-6.932 10.382l-.8 4.252h-3.729l1.88-9.027c.524-2.927 1.047-6.13 1.325-8.534h3.727c-.277 1.325-.8 3.204-1.879 6.378 1.88-3.451 4.252-6.624 7.733-6.624 3.204 0 4.252 2.372 3.45 5.853zm9.057-7.425v1.849c0 2.125.801 2.926 3.451 2.926 1.602 0 3.204-.523 4.806-1.078v2.927c-1.88.801-3.728 1.078-6.13 1.078-4.006 0-5.854-1.848-5.854-5.853 0-6.932 3.974-12.231 9.581-12.231 3.728 0 5.053 2.126 5.053 4.251 0 3.728-3.728 5.854-10.907 6.131zm5.33-7.455c-2.403 0-4.005 2.125-4.806 4.775 4.806 0 6.932-1.078 6.932-3.204 0-1.048-.8-1.571-2.126-1.571m19.41.769c-2.927-.77-6.1 4.807-7.179 10.137l-.523 3.974h-3.728l1.602-9.027c.523-2.68 1.047-5.853 1.602-8.534h3.45c-.277 1.602-.523 3.204-1.602 6.131 1.88-4.005 4.005-6.932 6.932-6.377zm14.664 14.111h-3.727c.523-1.571 1.047-3.45 1.848-6.377-1.325 2.65-3.728 6.654-7.702 6.654-2.403 0-3.728-1.602-3.728-5.33 0-6.377 3.173-12.754 10.63-12.754 2.125 0 4.004.246 5.853.523-1.849 9.058-2.373 13.032-3.174 17.284zm-3.204-14.88c-4.528 0-6.377 5.052-6.377 9.304 0 1.848.524 2.65 1.602 2.65 2.65 0 6.1-6.378 6.624-10.383l.277-1.048a4.802 4.802 0 0 0 -2.126-.523m11.985 14.88h-3.728l4.529-23.938h3.45zm25.541 0h-11.43l4.528-23.938h3.45l-3.727 20.487h7.733zm9.58.277c-4.498 0-6.377-2.125-6.377-6.13 0-7.179 4.529-11.954 10.105-11.954 4.53 0 6.408 2.65 6.408 6.377 0 7.178-4.806 11.707-10.136 11.707zm3.205-14.911c-3.728 0-5.854 4.252-5.854 8.257 0 2.125.801 3.45 3.204 3.45 3.173 0 5.854-3.45 5.854-7.98 0-2.402-1.079-3.727-3.204-3.727m22.644 15.99c-.801 4.498-3.728 7.455-10.136 7.455-1.849 0-3.45-.277-4.776-.8l.802-3.482c1.324.8 3.173 1.078 4.528 1.078 3.45 0 5.577-1.325 6.1-4.806.524-2.372.801-3.728 1.88-7.178-1.356 2.65-3.728 6.654-7.456 6.654-2.68 0-4.005-1.602-4.005-5.33 0-6.377 3.481-12.754 10.937-12.754 1.849 0 3.697.246 5.576.523zm-2.959-16.237c-4.498 0-6.377 5.052-6.377 9.304 0 1.848.554 2.65 1.602 2.65 2.927 0 6.13-6.378 6.932-10.383l.246-1.048c-.8-.277-1.325-.523-2.403-.523m11.986 14.881h-3.728l3.481-17.56h3.45zm2.156-19.964c-1.355 0-2.156-1.047-2.156-2.372a2.387 2.387 0 0 1 2.403-2.403c1.324 0 2.403 1.047 2.125 2.126 0 1.602-1.047 2.65-2.372 2.65m14.111 5.329c-.555-.246-1.603-.246-2.404-.246-1.879 0-2.926.77-2.926 2.125 0 2.65 4.775 3.45 4.775 7.179 0 2.926-2.403 5.853-7.456 5.853-1.324 0-2.125 0-2.926-.277l.554-3.173c.77.246 1.849.523 2.65.523 2.125 0 3.45-.8 3.45-2.403 0-2.65-4.775-3.173-4.775-7.178 0-3.204 2.372-5.576 6.9-5.576 1.08 0 2.158.246 2.928.246zm14.634 0h-4.283l-1.571 8.534c-.555 2.65-.277 3.173 1.325 3.173 1.047 0 1.602 0 2.403-.246l-.278 3.173c-1.078.277-2.403.277-3.45.277-3.481 0-4.529-1.602-3.728-5.853l1.602-9.058h-3.204l.524-2.927h3.204l1.047-5.33 3.728-.8-1.047 6.13h4.251zm5.576 14.634h-3.728l3.204-17.56h3.728zm2.126-19.964c-1.325 0-2.126-1.047-2.126-2.372 0-1.356 1.078-2.403 2.403-2.403s2.126 1.047 2.126 2.126c0 1.602-1.048 2.65-2.403 2.65m16.236 5.852c-.801-.246-1.572-.523-2.927-.523-3.974 0-5.576 4.529-5.576 8.257 0 1.602.523 3.45 3.204 3.45 1.324 0 2.65-.246 3.45-.8l-.277 3.203c-1.048.524-2.65.801-4.252.801-4.529 0-6.13-2.403-6.13-5.853 0-6.655 3.727-12.231 9.858-12.231 1.325 0 2.403.246 3.728.523zm12.539-.523c-.555-.246-1.602-.246-2.403-.246-1.88 0-2.927.77-2.927 2.125 0 2.65 4.775 3.45 4.775 7.179 0 2.926-2.65 5.853-7.455 5.853-1.325 0-2.126 0-2.927-.277l.554-3.173c.801.246 1.849.523 2.65.523 2.126 0 3.45-.8 3.45-2.403 0-2.65-4.775-3.173-4.775-7.178 0-3.204 2.403-5.576 6.901-5.576 1.078 0 2.157.246 2.958.246zm25.263-5.577c-1.048-.554-2.373-.554-3.174-.554-3.204 0-4.806 1.602-4.806 3.481 0 3.975 6.932 3.975 6.932 9.582 0 4.529-3.728 7.98-9.304 7.98-1.356 0-2.68 0-4.005-.524l.801-3.482c1.047.277 2.372.801 3.45.801 3.451 0 5.053-1.602 5.053-3.974 0-4.005-6.655-4.005-6.655-9.582 0-4.005 2.927-7.455 8.78-7.455 1.08 0 2.404 0 3.482.246zm5.853 25.818c-2.126 2.126-4.251 3.204-6.377 3.204-.801 0-1.849 0-2.65-.277l.801-3.204c.524 0 1.325.277 2.126.277 1.048 0 2.403-.524 3.45-1.88 1.079-1.047 1.603-2.649 1.603-5.052 0-4.775-.801-10.382-2.403-16.236h4.005c1.047 4.252 1.848 9.582 1.848 13.31 0 .523 0 1.078-.246 1.879 2.65-4.806 4.775-9.582 7.178-15.713l3.45 1.048c-4.528 10.937-8.78 18.393-12.785 22.644m23.446-20.241c-.802-.246-1.603-.246-2.404-.246-2.125 0-2.926.77-2.926 2.125 0 2.65 4.806 3.45 4.806 7.179 0 2.926-2.68 5.853-7.733 5.853-1.048 0-1.849 0-2.927-.277l.801-3.173c.801.246 1.602.523 2.65.523 2.156 0 3.48-.8 3.48-2.403 0-2.65-4.805-3.173-4.805-7.178 0-3.204 2.126-5.576 6.932-5.576 1.047 0 1.848.246 2.927.246zm14.634 0h-4.252l-1.602 8.534c-.524 2.65-.277 3.173 1.325 3.173.8 0 1.602 0 2.125-.246l-.246 3.173c-1.078.277-2.126.277-3.204.277-3.45 0-4.529-1.602-3.728-5.853l1.602-9.058h-3.204l.555-2.927h3.173l1.078-5.33 3.728-.8-1.078 6.13h4.251zm5.853 7.209c-.246.524-.246 1.325-.246 1.849 0 2.125.8 2.926 3.45 2.926 1.602 0 3.45-.523 4.806-1.078v2.927c-1.602.801-3.758 1.078-6.13 1.078-4.006 0-5.854-1.848-5.854-5.853 0-6.932 3.974-12.231 9.581-12.231 3.975 0 5.33 2.126 5.33 4.251 0 3.728-4.005 5.854-10.937 6.131zm5.084-7.455c-2.404 0-4.006 2.125-4.807 4.775 4.807 0 6.932-1.078 6.932-3.204 0-1.048-.8-1.571-2.125-1.571m31.393 14.88h-3.45l2.126-11.183c.277-2.373 0-3.451-1.325-3.451-2.126 0-5.854 5.33-6.655 10.382l-.8 4.252h-3.729l2.126-11.183c.524-2.373 0-3.451-1.078-3.451-2.65 0-6.1 6.13-6.901 10.382l-.801 4.252h-3.482l1.602-9.027c.524-2.927 1.079-6.13 1.602-8.534h3.451c-.246 1.325-.524 3.204-1.571 6.378 1.571-3.451 3.974-6.624 7.455-6.624 2.126 0 3.45 1.324 3.45 3.45 0 .801-.276 1.849-.8 3.174 1.602-3.451 4.251-6.624 7.456-6.624s4.251 2.372 3.727 5.853zm16.514-14.634c-.801-.246-1.602-.246-2.403-.246-2.126 0-3.204.77-3.204 2.125 0 2.65 4.806 3.45 4.806 7.179 0 2.926-2.403 5.853-7.456 5.853-1.078 0-2.126 0-2.927-.277l.524-3.173c1.078.246 1.88.523 2.927.523 1.88 0 3.204-.8 3.204-2.403 0-2.65-4.806-3.173-4.806-7.178 0-3.204 2.403-5.576 6.932-5.576 1.324 0 2.125.246 2.926.246zm-267.294-48.708 12.26-62.819h-21.288l-16.236 83.861h38.85l4.004-21.042zm62.849-44.179c3.45 0 8.503.77 11.43 1.848l3.728-19.44c-4.53-.524-9.305-1.048-14.634-1.048-23.168 0-34.075 13.833-34.075 29.268 0 20.242 20.765 19.964 20.765 28.745 0 4.282-3.204 6.654-9.581 6.654-4.806 0-10.906-1.047-14.634-2.65l-4.005 20.766c4.251 1.078 10.382 1.602 16.513 1.602 20.765 0 35.122-13.864 35.122-30.624 0-19.686-20.765-19.964-20.765-28.744 0-3.728 2.68-6.377 10.136-6.377m-104.903-18.64c-31.948 0-52.442 23.939-52.442 53.237 0 18.085 9.584 30.87 34.08 30.87 9.582 0 19.687-1.848 27.943-5.33l7.733-40.45h-21.32l-4.774 24.738c-1.88.555-4.005.555-5.854.555-10.66 0-14.388-5.854-14.388-13.833 0-14.388 8.78-29.576 27.173-29.576 5.053 0 10.63 1.078 15.682 2.403.555.277 1.078.524 1.602.524 1.602.8 3.204 1.355 4.282 1.879l4.498-21.843c-7.424-1.849-16.236-3.174-24.215-3.174"/></g><path d="m140.454 50.574-5.74 27.851h39.596c-32.805 48.616-97.925 40.36-115.147 20.21-14.825-17.375-2.018-47.075 41.93-65.437-43.504 13.248-67.92 48-53.572 71.414 16.26 26.527 66.965 37.587 112.025 24.709 30.116-10.567 42.969-25.417 47.664-33.397l-7.375 38.542h29.6l16.058-83.892z" fill="white"/></g></svg>
        {% comment %}  
        <img src="{{ section.settings.i4 | img_url: '300x' }}" loading="lazy" alt="{{ section.settings.i4.alt }}" style="max-width:120px;padding:0 10px;">
      {% endcomment %}
      {% endif %}
    </div>

  </div>
  {% endif %}
  <div class="footer-icons_item second-icon">
    <div class="text">{{ section.settings.t3 }}</div>
    {% if section.settings.i3 %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="50" viewBox="20.5 248.5 600 147.3" width="170" style="&#10;    width: 100px;&#10;    height: 50px;&#10;"><path d="m178.2 300.7h60.7v11.3h-23.9v63.7h-13.1v-63.7h-23.8zm58.1 20.7h11.2v10.5h.2c.4-1.5 1.1-2.9 2.1-4.3s2.2-2.7 3.7-3.8c1.4-1.2 3-2.1 4.8-2.8 1.7-.7 3.5-1.1 5.3-1.1 1.4 0 2.4.1 2.9.1.5.1 1.1.2 1.6.2v11.5c-.8-.2-1.7-.3-2.6-.4s-1.7-.2-2.6-.2c-2 0-3.9.4-5.7 1.2s-3.3 2-4.7 3.5c-1.3 1.6-2.4 3.5-3.2 5.8s-1.2 5-1.2 8v25.8h-12zm86.8 54.3h-11.8v-7.6h-.2c-1.5 2.8-3.7 4.9-6.6 6.6s-5.9 2.5-8.9 2.5c-7.1 0-12.3-1.7-15.5-5.3-3.2-3.5-4.8-8.9-4.8-16v-34.5h12v33.3c0 4.8.9 8.2 2.8 10.1 1.8 2 4.4 3 7.7 3 2.5 0 4.6-.4 6.3-1.2s3.1-1.8 4.1-3.1c1.1-1.3 1.8-2.9 2.3-4.7s.7-3.8.7-5.9v-31.5h12v54.3zm20.4-17.4c.4 3.5 1.7 5.9 4 7.4 2.3 1.4 5.1 2.1 8.3 2.1 1.1 0 2.4-.1 3.8-.3s2.8-.5 4-1c1.3-.5 2.3-1.2 3.1-2.2s1.2-2.2 1.1-3.7-.6-2.8-1.7-3.8-2.4-1.7-4-2.4c-1.6-.6-3.5-1.1-5.6-1.5s-4.2-.9-6.4-1.4-4.4-1.1-6.5-1.8-3.9-1.6-5.6-2.9c-1.6-1.2-3-2.7-3.9-4.6-1-1.9-1.5-4.1-1.5-6.9 0-3 .7-5.4 2.2-7.4 1.4-2 3.3-3.6 5.5-4.8s4.7-2.1 7.4-2.6 5.3-.7 7.7-.7c2.8 0 5.5.3 8 .9s4.9 1.5 6.9 2.9c2.1 1.3 3.8 3.1 5.1 5.2 1.4 2.1 2.2 4.7 2.6 7.7h-12.5c-.6-2.9-1.9-4.8-3.9-5.8-2.1-1-4.4-1.5-7.1-1.5-.8 0-1.9.1-3 .2-1.2.2-2.2.4-3.3.8-1 .4-1.9 1-2.6 1.7s-1.1 1.7-1.1 2.9c0 1.5.5 2.6 1.5 3.5s2.3 1.6 4 2.3c1.6.6 3.5 1.1 5.6 1.5s4.3.9 6.5 1.4 4.3 1.1 6.4 1.8 4 1.6 5.6 2.9c1.6 1.2 3 2.7 4 4.5s1.5 4.1 1.5 6.7c0 3.2-.7 5.9-2.2 8.2-1.5 2.2-3.4 4.1-5.7 5.5s-5 2.4-7.8 3.1c-2.9.6-5.7 1-8.5 1-3.4 0-6.6-.4-9.5-1.2s-5.5-2-7.6-3.5c-2.1-1.6-3.8-3.5-5-5.9-1.2-2.3-1.9-5.1-2-8.4h12.1v.1zm39.5-36.9h9.1v-16.4h12v16.3h10.8v8.9h-10.8v29c0 1.3.1 2.3.2 3.3.1.9.4 1.7.7 2.3.4.6 1 1.1 1.7 1.4.8.3 1.8.5 3.2.5.8 0 1.7 0 2.5-.1s1.7-.2 2.5-.4v9.3c-1.3.2-2.6.3-3.9.4-1.3.2-2.5.2-3.9.2-3.2 0-5.7-.3-7.6-.9s-3.4-1.5-4.5-2.6c-1.1-1.2-1.8-2.6-2.2-4.3s-.6-3.8-.7-6v-32h-9.1v-9.1zm40.3 0h11.3v7.4h.2c1.7-3.2 4-5.4 7-6.8s6.2-2.1 9.8-2.1c4.3 0 8 .7 11.2 2.3 3.2 1.5 5.8 3.5 7.9 6.2 2.1 2.6 3.7 5.7 4.7 9.2s1.6 7.3 1.6 11.2c0 3.7-.5 7.2-1.4 10.6-1 3.4-2.4 6.5-4.3 9.1s-4.3 4.7-7.3 6.3-6.4 2.4-10.4 2.4c-1.7 0-3.5-.2-5.2-.5s-3.4-.8-5-1.5-3.1-1.6-4.4-2.7c-1.4-1.1-2.5-2.4-3.4-3.8h-.2v27.1h-12v-74.4zm41.9 27.2c0-2.4-.3-4.8-1-7.1-.6-2.3-1.6-4.3-2.9-6.1s-2.9-3.2-4.7-4.3c-1.9-1.1-4.1-1.6-6.5-1.6-5 0-8.8 1.7-11.4 5.2-2.5 3.5-3.8 8.2-3.8 14 0 2.8.3 5.3 1 7.6s1.6 4.3 3 6c1.3 1.7 2.9 3 4.8 4s4 1.5 6.5 1.5c2.8 0 5-.6 6.9-1.7s3.4-2.6 4.7-4.3c1.2-1.8 2.1-3.8 2.6-6.1.5-2.4.8-4.7.8-7.1zm21.1-47.9h12v11.3h-12zm0 20.7h12v54.3h-12zm22.7-20.7h12v75h-12zm48.6 76.5c-4.3 0-8.2-.7-11.6-2.2s-6.2-3.4-8.6-5.9c-2.3-2.5-4.1-5.6-5.3-9.1s-1.9-7.4-1.9-11.5.6-7.9 1.9-11.4c1.2-3.5 3-6.5 5.3-9.1 2.3-2.5 5.2-4.5 8.6-5.9s7.3-2.2 11.6-2.2 8.2.7 11.6 2.2c3.4 1.4 6.2 3.4 8.6 5.9 2.3 2.5 4.1 5.6 5.3 9.1s1.9 7.3 1.9 11.4c0 4.2-.6 8-1.9 11.5s-3 6.5-5.3 9.1c-2.3 2.5-5.2 4.5-8.6 5.9s-7.2 2.2-11.6 2.2zm0-9.5c2.6 0 5-.6 6.9-1.7 2-1.1 3.5-2.6 4.8-4.4s2.2-3.9 2.8-6.1c.6-2.3.9-4.6.9-7 0-2.3-.3-4.6-.9-6.9s-1.5-4.3-2.8-6.1-2.9-3.2-4.8-4.3c-2-1.1-4.3-1.7-6.9-1.7s-5 .6-6.9 1.7c-2 1.1-3.5 2.6-4.8 4.3-1.3 1.8-2.2 3.8-2.8 6.1s-.9 4.6-.9 6.9c0 2.4.3 4.7.9 7s1.5 4.3 2.8 6.1 2.9 3.3 4.8 4.4c2 1.2 4.3 1.7 6.9 1.7zm31-46.3h9.1v-16.4h12v16.3h10.8v8.9h-10.8v29c0 1.3.1 2.3.2 3.3.1.9.4 1.7.7 2.3.4.6 1 1.1 1.7 1.4.8.3 1.8.5 3.2.5.8 0 1.7 0 2.5-.1s1.7-.2 2.5-.4v9.3c-1.3.2-2.6.3-3.9.4-1.3.2-2.5.2-3.9.2-3.2 0-5.7-.3-7.6-.9s-3.4-1.5-4.5-2.6c-1.1-1.2-1.8-2.6-2.2-4.3s-.6-3.8-.7-6v-32h-9.1v-9.1z"/><path fill="white" d="m164.2 300.7h-54.9l-16.9-52.2-17 52.2-54.9-.1 44.4 32.3-17 52.2 44.4-32.3 44.4 32.3-16.9-52.2z" fill="#00b67a"/><path d="m123.6 344.7-3.8-11.8-27.4 19.9z" fill="#005128"/></svg>
      {% comment %}
        <img src="{{ section.settings.i3 | img_url: '300x' }}" loading="lazy" alt="{{ section.settings.i3.alt }}" style="max-width:120px;">
      {% endcomment %}
      {% endif %}
  </div>
</div>
{% endif %}
<div class="container made-link" style="padding-bottom:30px;padding-top:10px;font-size:13px;">
  <span class="copyright"><span class="copy">&copy; {{ "now" | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a>.</span></span> &emsp; 
  {% comment %}
  <a target="_blank" href="{{ section.settings.link }}">{{ section.settings.custom }}</a>
  {% endcomment %}
</div>


{% schema %}
{
  "name": "Footer Icons",
  "class": "shopify-section--footer-icons",
    "settings": [

{
  "type": "checkbox",
  "id": "show",
  "label": "Show section",
  "default": true
},
      {
        "type": "text",
        "id": "t1",
        "label": "Text 1",
        "default": "Det siger vores kunder 1"
      },
{
  "type": "image_picker",
  "id": "i1",
  "label": "Image 1"
}
,
      {
        "type": "text",
        "id": "t2",
        "label": "Text 2",
        "default": "Det siger vores kunder 2"
      },
{
  "type": "image_picker",
  "id": "i2",
  "label": "Image 2"
}
,
      {
        "type": "text",
        "id": "t3",
        "label": "Text 3",
        "default": "Det siger vores kunder 3"
      },
{
  "type": "image_picker",
  "id": "i3",
  "label": "Image 1"
}
,
      {
        "type": "text",
        "id": "t4",
        "label": "Text 4",
        "default": "Det siger vores kunder 4"
      },
{
  "type": "image_picker",
  "id": "i4",
  "label": "Image 4"
}
,
    {
      "type": "text",
      "id": "custom",
      "label": "Custom Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Custom Text Link"
    }

    ]
}
{% endschema %}