
{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Focal theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "custom.js" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar' or 'arc' or 'dv' or 'fa' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'ps' or 'ur' or 'yi' -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>{% render 'yoast-seo' %}

{%- comment -%}
    <!-- MCB - Geo tracking funktion -->
	{{shop.metafields.CCR.shopat_script}}
	<!-- MCB - Geo tracking funktion --> 
{%- endcomment -%}
    <meta name="facebook-domain-verification" content="ylaiolf10fmwu1mcdgkpjdsh42c77y" />    
    {% comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.integrations.webmasterVerification.google == blank or yoast_seo_settings.integrations.webmasterVerification.google == null -%}
<meta name="google-site-verification" content="L6AH2EloXGwb043JE4d1FN7LAcl7HVrrjBMwTxPQpJ4" />
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
    {% comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.integrations.webmasterVerification.google == blank or yoast_seo_settings.integrations.webmasterVerification.google == null -%}
<meta name="google-site-verification" content="wGqCOopZNPkN7TdQIq8w3gCD_ajUQFzRBK7r-vf0heU" />
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">
    
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{% if page_title == blank %}{{ shop.name }}{% else %}{%- if template.name == 'product' %}{{ 'product.general.pagetitle_prefix' | t }}{% endif -%}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% endif %}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

    {%- if page_description -%}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="description" content="{{ page_description | escape }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
    {%- endif -%}

    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<link rel="canonical" href="{{ canonical_url }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0565/6808/6571/files/DbD_desktop.jpg?v=1662103652" media="(min-width: 768px)"/>
    <link rel="preload" as="script" href="https://policy.app.cookieinformation.com/uc.js">
    {%- unless settings.heading_font.system? and settings.text_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- comment -%}Preload important resources{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'vendor.js' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
    
    {%- render 'gtm_dataLayer', gtmId: 'GTM-5FM7QWS' -%}


    {%- comment -%}
      IMPLEMENTATION NOTE: for improving performance, Focal tries to preload images on known pages (such as blog page,
      product or collection pages). In order to keep a main JS file size minimal, the theme also lazyloads non-essential
      libraries (such as PhotoSwipe or Flickity) and only loads them on demand.
    {%- endcomment -%}
    
    {%- if request.page_type == 'product' -%}
      {%- assign selected_media = product.selected_variant.featured_media | default: product.featured_media -%}

      <link rel="preload" as="fetch" href="{{ product.url }}.js" crossorigin>
      <link rel="preload" as="image" imagesizes="(max-width: 999px) calc(100vw - 48px), 640px" imagesrcset="{% render 'image-attributes', image: selected_media, sizes: '400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800', sizes_only: true %}">

      {%- if product.media.size > 1 -%}
        <link rel="preload" as="script" href="{{ 'flickity.js' | asset_url }}">
      {%- endif -%}
    {%- elsif request.page_type == 'collection' and collection.image -%}
      <link rel="preload" as="image" media="(max-width: 740px)" imagesizes="100vw" imagesrcset="{% render 'image-attributes', image: collection.image, sizes: '400,500,600,700,800,900,1000', height_constraint: 600, crop: 'center', sizes_only: true %}">
      <link rel="preload" as="image" media="(min-width: 741px)" imagesizes="100vw" imagesrcset="{% render 'image-attributes', image: collection.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', sizes_only: true %}">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'microdata-schema' %}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'theme-custom.css' | asset_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">



    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript" defer="defer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer="defer"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js" defer="defer"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js" defer="defer"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer="defer"></script>
    
    
    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>


    {{ content_for_header }} 

</head>

  {%- assign feature_classes = '' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
  {%- endif -%}

  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
  	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FM7QWS"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    
    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
      </linearGradient>
    </svg>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <loading-bar class="loading-bar"></loading-bar>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'announcement-bar' -%}
      {%- section 'popup' -%}
      {%- section 'header' -%}

      {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
        {%- section 'mini-cart' -%}
      {%- endunless -%}
    {%- endif -%}
    
 
     
    <div id="main" role="main" class="anchor">
      {%- comment -%}
      IMPLEMENTATION NOTE: on collection and search page, the theme was designed to show on mobile the filter bar and/or sort
        by at the very top of the page. However, due to the fact that sections are isolated, I had to move the code
        here. Then, the collection section, based on the selected settings, will eventually hide those elements in CSS
      {%- endcomment -%}
      {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
        {%- assign active_filters_count = 0 -%}

        {%- if request.page_type == 'collection' -%}
          {%- assign filters = collection.filters -%}
        {%- else -%}
          {%- assign filters = search.filters -%}
        {%- endif -%}
      

        {%- for filter in filters -%}
          {%- if filter.type == 'list' -%}
            {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
          {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
            {%- assign active_filters_count = active_filters_count | plus: 1 -%}
          {%- endif -%}
        {%- endfor -%}

        {%- assign is_toolbar_collapsed = false -%}

        {%- if request.page_type == 'search' and search.results.first.object_type != 'product' -%}
          {%- assign is_toolbar_collapsed = true -%}
        {%- endif -%}

        <div id="mobile-facet-toolbar" class="mobile-toolbar {% if is_toolbar_collapsed %}is-collapsed{% endif %} hidden-lap-and-up">
          <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--filters {% if active_filters_count > 0 %}has-filters{% endif %}" aria-expanded="false" aria-controls="facet-filters" style="display: none">
            {%- render 'icon' with 'filters' -%}
            <span class="mobile-toolbar__item-label">{{- 'collection.general.filters' | t -}}</span>
          </button>

          <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--sort" aria-expanded="false" aria-controls="sort-by-popover" style="display: none">
            <span class="mobile-toolbar__item-label">{{- 'collection.general.sort_by' | t -}}</span>
            {%- render 'icon' with 'chevron' -%}
          </button>
        </div>
      {%- endif -%}
      

      {{ content_for_layout }}

      {%- unless request.page_type == 'index' or request.page_type == 'password' or request.page_type == 'gift_card' -%}
        {%- section 'static-text-with-icons' -%}
        {%- section 'static-newsletter' -%}
      {%- endunless -%}
    </div>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'footer' -%}
    {%- endif -%}
    
    
  
  {% render 'app_wishlist-king' %}

  {% if product %}
<script type="text/javascript"> 
var _learnq = _learnq || []; 
var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: window.location.href,
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|divided_by:100.0|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }} };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    } }]); 
</script>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer="defer"></script>

<script>     
      function fixPrices() {
        var currencyToReplaceWith = 'DKK';
      
        if(convertEURtoSEK())
          currencyToReplaceWith = 'SEK';
                    
        var prices = document.querySelectorAll('#mini-cart-form .price ');
        
        if (prices !== undefined)
          if(prices !== null)
            prices.forEach((element)  =>  {
                element.innerHTML = element.innerHTML.replace('kr', currencyToReplaceWith);
                element.innerHTML = element.innerHTML.replace('EUR', currencyToReplaceWith);
            });

       var checkoutButton = document.getElementById('checkout-button-validate');

      if(checkoutButton !== undefined && checkoutButton !== 'undefined')
        if(checkoutButton !== null)
          checkoutButton.innerHTML = checkoutButton.innerHTML.replace('EUR', currencyToReplaceWith);
        
    }

  function convertEURtoDKK() {
     var url = window.location.href;
    
    if (url.indexOf("/en-dk") !== -1)
      return true;

    return false;
  }

    function convertEURtoSEK() {
     var url = window.location.href;
      
    if (url.indexOf("/en-se") !== -1)
      return true;

    return false;
  }

    document.addEventListener('openable-element:open', function(event) { 
     if(event.srcElement.classList[0] !== undefined && event.srcElement.classList[0] !== "undefined") {
       if(event.srcElement.classList[0] !== null)  {
        if(event.srcElement.classList[0].trim() === 'header__cart-count' || event.srcElement.classList[0].trim() === 'mini-cart' || event.srcElement.classList[0].trim() === 'loader-button__text')
            if (convertEURtoDKK() || convertEURtoSEK()) {
              fixPrices();
              setTimeout(() => {
                fixPrices();
              }, 2000);
            }
         }
       }
  });  
  
document.addEventListener('cart:refresh', function(evt) { 
     if (convertEURtoDKK() || convertEURtoSEK()) {
      fixPrices();
      setTimeout(() => {
        fixPrices();
      }, 450);
    }
});
  
document.addEventListener('cart:updated', function(evt) {
     if (convertEURtoDKK() || convertEURtoSEK()) {
      fixPrices();
      setTimeout(() => {
        fixPrices();
      }, 750);
    }
});
  
</script>          
</body>
</html>