{%- render 'section-spacing-collapsing' -%}

{%- if section.settings.show_filters and collection.filters.size > 0 -%}
  {%- assign show_filters = true -%}
{%- else -%}
  {%- assign show_filters = false -%}
{%- endif -%}

<style>
  {%- assign card_blends = false -%}

  {%- unless settings.background != 'rgba(0,0,0,0)' and settings.product_card_background != 'rgba(0,0,0,0)' and settings.background != settings.product_card_background -%}
    {%- assign card_blends = true -%}
  {%- endunless -%}

</style>

<div class="container">
  {%- if collection.all_products_count == 0 -%}
    <div class="empty-state">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'picto-stop', width: 32, height: 32, stroke_width: 1 -%}
        <span class="count-bubble count-bubble--lg">0</span>
      </div>

      <div class="prose">
        <p class="h4">{{ 'collection.general.empty_collection' | t }}</p>

        {%- assign button_content = 'collection.general.continue_shopping' | t -%}
        {%- render 'button', href: routes.all_products_collection_url, size: 'xl', content: button_content -%}
      </div>
    </div>
  {%- else -%}
    {%- paginate collection.products by section.settings.products_per_page -%}
      <div class="collection {% if show_filters %}collection--filters-{{ section.settings.filter_layout | escape }}{% endif %}">
        {%- if show_filters or section.settings.show_sort_by -%}
          {%- comment -%}
          IMPLEMENTATION NOTE: we have to output the drawer no matter what, as it is used on mobile (all the time) or desktop (when in drawer mode)
          {%- endcomment -%}

          <facet-drawer
            header-bordered
            id="facets-drawer"
            class="facets-drawer drawer"
            open-from="left">
            <p class="h5" slot="header">{{ 'collection.faceting.filters' | t }}</p>
            {%- render 'facets-vertical', results: collection, show_filters: true, show_sort_by: section.settings.show_sort_by, update_on_change: false -%}
          </facet-drawer>

          {%- if section.settings.filter_layout == 'horizontal' -%}
            {%- render 'collection-top-bar', results: collection, show_filters: show_filters, show_active_filters: show_filters, show_sort_by: section.settings.show_sort_by -%}
          {%- else -%}
            {%- render 'collection-top-bar', results: collection, show_filters: false, show_active_filters: show_filters, show_sort_by: section.settings.show_sort_by -%}
          {%- endif -%}

          {%- comment -%}We also need to render the button, that is floating on mobile{%- endcomment -%}
          <facet-floating-filter class="facets__floating-filter md:hidden">
            {%- assign filter_label = 'collection.faceting.filter_and_sort' | t -%}
            {%- render 'button', size: 'xl', content: filter_label, icon: 'filter', style: 'fill', background: settings.text_color, text_color: settings.background, aria_controls: 'facets-drawer' -%}
          </facet-floating-filter>
        {%- endif -%}

        {%- if show_filters and section.settings.filter_layout == 'sidebar' -%}
          <div class="collection__facets">
            <safe-sticky class="collection__facets-scroller">
              {%- render 'facets-vertical', results: collection, show_filters: true, show_sort_by: false, update_on_change: true -%}
            </safe-sticky>
          </div>
        {%- endif -%}

      
        <div class="collection__results">
          {%- if collection.products_count == 0 -%}
            <div class="empty-state">
              <div class="empty-state__icon-wrapper">
                {%- render 'icon' with 'picto-stop', width: 32, height: 32, stroke_width: 1 -%}
                <span class="count-bubble count-bubble--lg">0</span>
              </div>

              <div class="prose">
                <p class="h5">{{ 'collection.faceting.no_results' | t }}</p>

                {%- assign button_content = 'collection.faceting.clear_filters' | t -%}
                {%- render 'button', href: collection.url, is: 'facet-link', size: 'xl', content: button_content -%}
              </div>
            </div>
          {%- else -%}
            <div class="v-stack gap-6">
              <div class="v-stack gap-4 md:hidden">
                {%- comment -%}We have to duplicate some information on mobile and tablet here{%- endcomment -%}
                <p class="text-center">{{ 'collection.products_count' | t: count: collection.products_count }}</p>
                {%- render 'active-facets', results: collection -%}
              </div>

              <reveal-items selector=".product-list > *">
                <product-list
                  class="section-stack__main"
                  role="region"
                  aria-live="polite">
                  <div class="product-list_table">             
                      <div class="product-titles">
                        <div class="product-spec__heading product-title">{{'product.general.spec_label' | t }}</div>
                        {%- for product in collection.products -%}                      
                          <div class="product-title">
                            <a href="{{ product.url }}" class="bold justify-self-start">{{ product.title }}</a>
                          </div>
                        {% endfor %} 
                      </div>
                    
                      {%- for block in section.blocks -%}
                        <div class="product-specs">
                          <div class="product-spec__heading spec-item"> 
                           {%- if block.settings.liquid == blank -%}
                             {{ block.settings.title }}
                           {%-  elsif block.settings.title != blank and block.settings.liquid != blank%}
                             <span class="label-to-hide">{{ block.settings.title }}</span>{{ block.settings.liquid }}
                           {%- endif -%}
                          </div>
                        {%- for product in collection.products -%}                                                       
                            {%- assign metafield_parts = block.settings.option_value_metafield | split: '.' -%}
                            {%- assign metafield_namespace = metafield_parts | first -%}
                            {%- assign metafield_key = metafield_parts | last -%}
                            {%- assign product_metafield = product.metafields[metafield_namespace][metafield_key].value -%}
                            {% if product_metafield != blank %}                                
                              <div class="spec-item">  
                                {{ product_metafield }}
                              </div>
                            {%- endif -%}
                          
                          {%- endfor -%}                     
                          </div>
                      {%- endfor -%}
                      <div class="product-readmore">
                        <div class="product-spec__heading product-title product-readmore__heading">{{'product.general.spec_label' | t }}</div>
                        {%- for product in collection.products -%}                     
                          <div class="product-read-more">
                            <a href="{{ product.url }}" class="button">{{'product.general.read_more' | t }}</a>
                          </div>                  
                        {% endfor %} 
                      </div> 
                                 
                  </div>                 
                </product-list>

              </reveal-items>
            </div>
          {%- endif -%}
        </div>

        {%- render 'pagination', paginate: paginate, facet: true, class: 'collection__pagination' -%}
      </div>
    {%- endpaginate -%}
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Collection page",
    "class": "shopify-section--main-collection",
    "tag": "section",
    "max_blocks": 5,
    "blocks": [
      {
      "type": "item",
      "name": "Metafield block",
      "settings": [
        
        {
          "type": "text",
          "id": "title",
          "label": "Metafield label"
        },
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Metafield label",
          "info" :"Only use when custom style needed "
        },
        {
          "type": "text",
          "id": "option_value_metafield",
          "label": "Metafield block"

        }
      ]
    }
     
      
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_sold_out_variants",
        "label": "Hide show out variant",
        "default": true
      },

      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 8,
        "max": 50,
        "step": 1,
        "default": 24
      },
      {
        "type": "select",
        "id": "products_per_row_mobile",
        "label": "Products per row (mobile)",
        "options": [
          {
            "value": "1",
            "label": "1"
          }, {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "header",
        "content": "Filters & sort"
      }, {
        "type": "select",
        "id": "filter_layout",
        "label": "Desktop layout",
        "options": [
          {
            "value": "sidebar",
            "label": "Sidebar"
          }, {
            "value": "horizontal",
            "label": "Horizontal"
          }, {
            "value": "drawer",
            "label": "Drawer"
          }
        ],
        "default": "sidebar"
      }, {
        "type": "checkbox",
        "id": "show_sort_by",
        "label": "Show sort by",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_filters",
        "label": "Show filters",
        "info": "[Customize filters](/admin/menus)",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_filter_group_name",
        "label": "Show group name",
        "info": "Group name will be shown inside selected filters.",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_color_swatch",
        "label": "Show filter color swatch",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_empty_filter_values",
        "label": "Show empty filter values",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_filter_values_count",
        "label": "Show filter values count",
        "default": true
      }, {
        "type": "checkbox",
        "id": "open_first_filter_group",
        "label": "Open first group by default",
        "default": false
      }
    ]
  }
{% endschema %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>


 window.addEventListener("scroll", function() {
  var productHeading = document.querySelectorAll('.product-spec__heading');
  productHeading.forEach(h => h.classList.toggle("fixed-header",window.scrollY >= 200 ));
});

const scrollToTop = function(){
  window.scrollTo({top: 150, behavior: 'smooth'});
}

document.querySelector('#main').addEventListener('click', function(evt) {
  if (evt.target.matches('.pagination__item')) {
    scrollToTop();
  }
});

</script>













