<!-- /sections/section-rich-text.liquid -->
{%- assign animation_anchor = '#sidebar--' | append: section.id -%}
{%- assign aside_html = '' -%}
{%- assign content_html = '' -%}
{%- assign first_element_flag = true -%}

{%- for block in section.blocks -%}
  {%- assign current_block = block.settings -%}
  {%- capture aside_html -%}
    {{ aside_html }}

    {%- if block.type == 'header' and current_block.title != blank -%}
      <li>
        <a href="#"{% if first_element_flag %} class="is-selected"{% endif %} data-scroll-to="#{{ section.id }}-{{ block.id }}-{{ forloop.index0 }}" {{ block.shopify_attributes }}>{{ current_block.title }}</a>
      </li>
      {%- assign first_element_flag = false -%}
    {%- endif -%}
  {%- endcapture -%}

  {%- capture content_html -%}
    {{ content_html }}

    {%- if block.type == 'header' and current_block.title != blank -%}
      <div class="section-sidebar__row section-sidebar__row--title">
        <h6 class="section-sidebar__title" id="{{ section.id }}-{{ block.id }}-{{ forloop.index0 }}" {{ block.shopify_attributes }}>{{ current_block.title }}</h6>
      </div>
    {%- endif -%}

    {%- if block.type == 'text' and current_block.text != blank -%}
      <div class="section-sidebar__row section-sidebar__row--text" {{ block.shopify_attributes }}>{{ current_block.text }}</div>
    {%- endif -%}
    
    {%- if block.type == 'accordion' and current_block.title != blank and current_block.content != blank -%}
      <div class="section-sidebar__row section-sidebar__row--accordion">
        <div class="accordion" data-accordion {{ block.shopify_attributes }}>
          <p class="accordion__title" data-focus-element tabindex="0" data-accordion-toggle data-block-id="{{ block.id }}">{{ current_block.title }}</p>
    
          <div class="rte accordion__body" data-accordion-body>
            {{ current_block.content }}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endcapture -%}
{%- endfor -%}

<section class="section-sidebar {{ section.settings.text_color }} {{ section.settings.height }}" id="sidebar--{{ section.id }}" style="background-color: {{ section.settings.bg_color }};" data-section-id="{{ section.id }}" data-section-type="sidebar">
  <div class="{{ section.settings.width }}">
    <div class="section-sidebar__body">
      <div class="section-sidebar__aside">
        <div class="section-sidebar__widget">
          {%- if aside_html != '' -%}
            <ul class="widget__links widget__links--secondary" data-scroll-to-links data-scroll-spy>
              {{ aside_html }}
            </ul>
          {%- endif -%}
        </div>
      </div>

      <div class="section-sidebar__content">
        {{ content_html }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sidebar",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "default": "margin--medium",
      "options": [
        {"value": "margin--small", "label": "Small"},
        {"value": "margin--medium", "label": "Medium"},
        {"value": "margin--large", "label": "Large"}
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--full",
      "options": [
        {"value": "wrapper", "label": "Normal"},
        {"value": "wrapper--narrow", "label": "Narrow"},
        {"value": "wrapper--full", "label": "Wide"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "White"},
        { "value": "text-dark", "label": "Dark"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "name": "Header",
      "type": "header",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Answer",
          "default": "<p>Share details about your shipping policies, item returns, or customer service.<\/p>"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sidebar",
      "category": "Text",
      "blocks": [
        {
          "type": "header",
          "settings": {
            "title": "Shipping & Returns"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "title": "How much is shipping?",
            "content": "<p>We offer free shipping on all US orders, and a flat rate of $10 for all international orders.<\/p>"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "title": "What is your return policy?",
            "content": "<p>We accept returns within 30 days of the purchase date.<\/p>"
          }
        },
        {
          "type": "header",
          "settings": {
            "title": "Discount"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "title": "Can I use more than one discount code?",
            "content": "<p>Only one discount code can be used per order and cannot be combined with other promotions.<\/p>"
          }
        },
        {
          "type": "header",
          "settings": {
            "title": "Contact"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Still have questions? We're happy to help! Please email us at hi@email.com and we will get back to you within 24 hours.<\/p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}