<!-- /sections/collections.liquid -->
<delivery-cost-drawer
  {% if request.design_mode %}handle-section-events{% endif %}
  class="drawer custom-drawer"
  id="delivery-cost-drawer">
  <div class="custom-drawer__top">
    <div class="h5">{{ section.settings.drawer-heading }}</div>
    <button
      type="button"
      is="close-button"
      class="drawer__close-icon">
      {%- render 'icon' with 'close' -%}
    </button>

  </div>

  <div class="custom-drawer__content">
    {{ section.settings.drawer-content }}
    <div class="custom-drawer__content_extra">
      <div class="custom-drawer__content_extra_item">
        {{ section.settings.drawer-content_extra_1 }}
      </div>
      <div class="custom-drawer__content_extra_item">
        {{ section.settings.drawer-content_extra_2 }}
      </div>
    </div>
    <button
      type="button"
      is="close-button"
      class="button button--lg button-full">
      {{ section.settings.drawer-button }}
    </button>
  </div>
</delivery-cost-drawer>


{% schema %}
  {

    "name": "Delivery cost drawer",
    "settings": [

      {
        "type": "text",
        "id": "drawer-heading",
        "label": "Drawer heading",
        "default": "DELIVERY COST"
      },
      {
        "type": "richtext",
        "id": "drawer-content",
        "label": "Drawer text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lectus quis sem lacinia nonummy. Proin mollis lorem non dolor. In hac habitasse platea dictumst. Nulla</p>"
      },
      {
        "type": "richtext",
        "id": "drawer-content_extra_1",
        "label": "Drawer text exra 1"
      },
      {
        "type": "richtext",
        "id": "drawer-content_extra_2",
        "label": "Drawer text exra 2"
      }, {
        "type": "text",
        "id": "drawer-button",
        "label": "Drawer button",
        "default": "Find by me"
      }
    ]

  }
{% endschema %}