<style>
  .product-menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    z-index: 100;
    box-shadow: 0 5px 10px rgb(var(--text-primary) / 0.075);
    border-top: 1px solid #ddd;
    background: rgb(var(--product-menu-background));
    color: rgb(var(--product-menu-text));
  }
  .product-menu li:not(:last-child) {
    margin-right: 1.5rem;
  }
  .product-menu a {
    position: relative;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    transition: all ease-out 0.2s;
    font-weight: 500;
  }
  .product-menu a::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center;
    border-bottom: 2px solid rgb(var(--product-menu-hover));
    transition: transform 0.3s, opacity 0.3s;
  }
  .product-menu a:hover::before,
  .product-menu a.active::before {
    opacity: 1;
    transform: scale(1);
  }
  .shopify-section.shopify-section--product-menu {
    top: calc(var(--sticky-announcement-bar-enabled, 0) * var(--announcement-bar-height, 0px) + var(--sticky-header-enabled, 0) * var(--header-height, 0px));
    position: sticky;
    z-index: 10;
    border-top: 1px solid transparent;
  }
  @media screen and (max-width: 699px) {
    .product-menu {
      overflow: auto;
      white-space: nowrap;
      justify-content: flex-start;
    }
  }
</style>

    {%- comment -%}hide product menu if section empty{%- endcomment -%}
    <script src="{{ 'mega-menu.js' | asset_url }}" defer></script>

<script>
  (function($) {
    $(function() {
      const productMenuSelector = '.product-menu a';
      const toggleClassName = 'active';

      function isInViewport(elm) {
        let vpH = $(window).height(),
          st = $(window).scrollTop(),
          y = $(elm).offset().top,
          elementHeight = $(elm).height();
        return y < vpH + st - vpH * 0.4 && y > st - elementHeight + vpH * 0.3;
      }

      const handleProductMenuScroll = function(event) {
        $(productMenuSelector).each(function() {
          let menuItem = $(this);
          if ($(menuItem.attr('href')).length) {
            if (isInViewport($(menuItem.attr('href')))) {
              $(productMenuSelector).removeClass(toggleClassName);
              menuItem.addClass(toggleClassName);
              return false;
            } else {
              menuItem.removeClass(toggleClassName);
            }
          }
        });
      };

      handleProductMenuScroll();
      $(document).on({scroll: handleProductMenuScroll});
    });
  })(jQuery);
</script>
<ul id="menu" class="product-menu test">


  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'specification' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#product-spec">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
        {%- when 'highlights' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#hot-spots">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
        {%- when 'alternatives' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#related-product">{{ block.settings.title }}</a>
          </li>
        {%- endif -%}
        {%- when 'coated-upgrade' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#before-after">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
        {%- when 'reviews' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#user-reviews">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
        {%- when 'testimonials' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#testimonials">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
        {%- when 'installation' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#videos">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
        {%- when 'custom' -%}
        {%- if block.settings.title != blank -%}
          <li>
            <a href="#{{block.settings.id | downcase }}">{{ block.settings.title | escape }}</a>
          </li>
        {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  {%- endif -%}
</ul>

{% schema %}
  {
    "name": "Product menu - MCB",
    "class": "shopify-section--product-menu",
    "tag": "section",
    "max_blocks": 8,
    "blocks": [
      {
        "type": "specification",
        "name": "Specification",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Specification",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      },
      {
        "type": "highlights",
        "name": "Highlights",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Highlights",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      },
      {
        "type": "alternatives",
        "name": "Alternatives",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Alternatives",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      },
      {
        "type": "coated-upgrade",
        "name": "Coated upgrade",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Coated upgrade",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      }, {
        "type": "reviews",
        "name": "Reviews",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Reviews",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      }, {
        "type": "testimonials",
        "name": "Testimonials",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Testimonials",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      }, {
        "type": "installation",
        "name": "Installation",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Installation",
            "info": "This will indicate the title that will show in the product menu bar"
          }
        ]
      }, {
        "type": "custom",
        "name": "Custom menu",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu Item",
            "default": "Custom",
            "info": "This will indicate the title that will show in the product menu bar"
          }, {
            "type": "text",
            "id": "id",
            "label": "Menu ID",
            "info": "Here you are to paste the 'Section ID' that are written in the section you are referring to"

          }
        ]
      }

    ],

    "presets": [
      {
        "name": "Product menu - MCB"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}