{%- capture product_form_id -%}quick-buy-form-{{ product.id }}-{{ section.id }}{%- endcapture -%}
<product-card
  handle="{{ product.handle | escape }}"
  class="product-card"
  {% render 'surface', class: card_class, background: card_background, text_color: card_text_color %}>
  <div class="quick-buy-drawer__variant text-start h-stack gap-6" slot="header">

    <div class="product-info-custom-left">
       {%- if product.media.size > 0 -%}
        {%- render 'product-badges', product: product, types: 'custom-new, custom,  sold_out, discount', class: 'product-card__badge-list' -%}
      {%- endif -%}
      
      {%- assign image = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
      {%- if image != blank -%}
        <variant-media widths="130" form="{{ product_form_id }}">
          {{- image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '130px', widths: '130', class: 'quick-buy-drawer__media rounded-xs' -}}
        </variant-media>
      {%- endif -%}
      <div class="wrapper">
        <variant-sku
          form="{{ product_form_id }}"
          class="product-info__sku text-xs text-subdued"
          {% if product.selected_or_first_available_variant.sku == blank %}hidden{% endif %}>
          {{- 'product.general.sku' | t }}{{ product.selected_or_first_available_variant.sku -}}
        </variant-sku>
         <div class="product-title">
          <a href="{{ product.url }}" class="bold justify-self-start">{{ product.title }}</a>
        </div>

        {%- comment -%} {%- render 'price-list', variant: product.selected_or_first_available_variant, form_id: product_form_id -%}{%- endcomment -%}
        {%- render 'price-list'
          , product: product,
          use_variant: true,
          show_badges: true,
          price_class: 'price--large', -%}
        {%- if product.quantity_price_breaks_configured? -%}
          <div class="volume-pricing-note text-xs text-subdued">
            <span>{{ 'product.volume_pricing.note' | t }}</span>
          </div>
        {%- endif -%}
      </div>

    </div>
    <div class="product-info-custom-right">
      <div class="product-info__variant-picker" {{ block.shopify_attributes }}>
        {%- unless product.has_only_default_variant -%}
          <variant-picker
            class="variant-picker"
            handle="{{ product.handle }}"
            form="{{ product_form_id }}"
            {% if update_url %}update-url{% endif %}>
            {%- for option in product.options_with_values -%}
              <fieldset class="variant-picker__option no-js:hidden option-{{option.name | downcase}}">
                {%- capture popover_id -%}popover-{{ 'now' | date: '%N' }}{%- endcapture -%}
                <div class="relative">
                  <button
                    type="button"
                    class="select"
                    aria-controls="{{ popover_id }}"
                    aria-expanded="false">
                    <span class="text-subdued option-name">{{ option.name }}</span>
                    <span id="{{ popover_id }}-selected-value" class="text-subdued selected-value">       
                     {%- for value in option.values -%}
                     {% if value == option.selected_value %}{{ value }}{% endif %}
                     {%- endfor -%}
                    </span>
                    {%- comment -%}
                   <span id="{{ popover_id }}-selected-value" class="text-subdued selected-value"></span>
                    {%- endcomment -%}
                    <span class="icon-cover">
                      {%- render 'icon' with 'chevron-bottom', class: 'select-chevron' -%}
                    </span>
                  </button>
                  <x-popover
                    id="{{ popover_id }}"
                    class="popover"
                    initial-focus="[aria-selected='true']"
                    close-on-listbox-select
                    anchor-horizontal="start"
                    anchor-vertical="end">
                    <p class="h5" slot="title">{{ option.name }}</p>

                    <x-listbox
                      data-option-selector
                      class="popover-listbox"
                      aria-owns="{{ popover_id }}-selected-value">
                      <input
                        type="hidden"
                        name="option{{ option.position }}"
                        form="{{ form_id }}"
                        value="{{ option.selected_value | escape }}">

                      {%- for value in option.values -%}
                        <button
                          type="button"
                          class="popover-listbox__option"
                          role="option"
                          value="{{ value | escape }}"
                          {% if value == option.selected_value %}aria-selected="true"{% endif %}
                          data-option-value>{{ value }}</button>
                      {%- endfor -%}
                    </x-listbox>
                  </x-popover>
                </div>


              </fieldset>
            {%- endfor -%}


          </variant-picker>

        {%- endunless -%}
      </div>
      <div class="product-info__quantity-selector {{ block.shopify_attributes }}">
        <div class="form-control">
          <quantity-selector class="quantity-selector">
            <button
              type="button"
              autocomplete="off"
              class="quantity-selector__button"
              aria-label="{{ 'product.quantity.decrease_quantity' | t }}">{% render 'icon' with 'minus', width: 10, height: 2 %}</button>
            <input
              id="{{ product_form_id }}-quantity"
              type="text"
              is="quantity-input"
              inputmode="numeric"
              class="quantity-selector__input"
              name="quantity"
              form="{{ product_form_id }}"
              style="-webkit-appearance: none !important;"
              size="2"
              value="1"
              autocomplete="off">
            <button
              type="button"
              class="quantity-selector__button"
              aria-label="{{ 'product.quantity.increase_quantity' | t }}">{% render 'icon' with 'plus', width: 10, height: 10 %}</button>
          </quantity-selector>
        </div>
      </div>
      <div class="button-wrapper">
        <div class="rating-custom-lg">
          {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
        </div>
        {% comment %}
          {%- unless product.has_only_default_variant -%}
            <div class="button-red"></div>
          {%- endunless -%}
        {% endcomment %}
        
        {%- render 'buy-buttons', product: product, form_id: product_form_id -%}
       
      </div>

    </div>
  </div>
</product-card>
<style>
#{{ product_form_id }}-quantity {
  -webkit-appearance: none !important;
}

#{{ product_form_id }}-quantity::-webkit-inner-spin-button,
#{{ product_form_id }}-quantity::-webkit-outer-spin-button {
  display: none !important;
}
</style>